{% extends 'main.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
    <!-- Header --->
      <div id='ey' class="jumbotron">
        <div class="jumbotron-content text-left">
          <div class="row">
            <div class="col">
              <h2>{{title2}}</h2>
              <h1 class="smaller">{{title}}</h1>
            </div>
            <div class="col">
              <br>
              
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card-group farmer text-center" >
                        <div class="card primary mb-2 text-white" style="background-color: #007FFE;">
                            <div class="card-body">
                                <h6 class="card-title">Transplanting Method</h6>
                                <h3 class="card-text font-weight-bold">69%<i class="bi bi-caret-up-fill"></i></h3>
                                <div class="card-note w-75 mx-auto rounded-pill bg-primary">
                                    <p class="mb-0">kg per hectare</p>
                                </div>
                            </div>
                        </div>
                        <div class="card primary mb-2 ml-2 text-white" style="background-color: #C45000;">
                            <div class="card-body">
                                <h6 class="card-title">Average</h6>
                                <h3 class="card-text font-weight-bold">31%<i class="bi bi-caret-up-fill"></i></h3>
                                <div class="card-note w-75 mx-auto rounded-pill text-black" style="background-color: #7FFE00;">
                                    <p class="mb-0">kg per hectare</p>
                                </div>
                            </div>
                        </div>
                        <div class="card primary mb-2 ml-2 text-white" style="background-color: #007FFE;">
                            <div class="card-body">
                                <h6 class="card-title">Direct Seeding Method</h6>
                                <h3 class="card-text font-weight-bold">31%<i class="bi bi-caret-up-fill"></i></h3>
                                <div class="card-note w-75 mx-auto rounded-pill bg-primary">
                                    <p class="mb-0">kg per hectare</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-2">
                        <div class="card-header text-left">
                            <h5 class="my-0 font-weight-bold">Seeding rate per crop establishment method (1996-2017) in kilogram per hectare</h5>
                            <h6 class="my-0 font-weight-normal text-muted">in kilogram per hectare</h6>
                        </div>
                        <div class="card-body">
                            <div><canvas id=""></canvas></div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-2">
                        <div class="card-header text-left">
                            <h5 class="my-0 font-weight-bold">Seeding rate per crop establishment method in the top 20 rice producing provinces (year) in kilogram per hectare</h5>
                            <h6 class="my-0 font-weight-normal text-muted">in kilogram per hectare</h6>
                        </div>
                        <div class="card-body">
                            <div><canvas id=""></canvas></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
{% endblock content %}
{% block script %}
<script>
    Chart.pluginService.register({
        beforeDraw: function(chart) {
            if (chart.config.options.elements.center) {
                // Get ctx from string
                var ctx = chart.chart.ctx;

                // Get options from the center object in options
                var centerConfig = chart.config.options.elements.center;
                var fontStyle = centerConfig.fontStyle || 'Arial';
                var txt = centerConfig.text;
                var color = centerConfig.color || '#000';
                var maxFontSize = centerConfig.maxFontSize || 75;
                var sidePadding = centerConfig.sidePadding || 20;
                var sidePaddingCalculated = (sidePadding / 100) * (chart.innerRadius * 2)
                // Start with a base font of 30px
                ctx.font = "30px " + fontStyle;

                // Get the width of the string and also the width of the element minus 10 to give it 5px side padding
                var stringWidth = ctx.measureText(txt).width;
                var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

                // Find out how much the font can grow in width.
                var widthRatio = elementWidth / stringWidth;
                var newFontSize = Math.floor(30 * widthRatio);
                var elementHeight = (chart.innerRadius * 2);

                // Pick a new font size so it will not be larger than the height of label.
                var fontSizeToUse = Math.min(newFontSize, elementHeight, maxFontSize);
                var minFontSize = centerConfig.minFontSize;
                var lineHeight = centerConfig.lineHeight || 25;
                var wrapText = false;

                if (minFontSize === undefined) {
                    minFontSize = 20;
                }

                if (minFontSize && fontSizeToUse < minFontSize) {
                    fontSizeToUse = minFontSize;
                    wrapText = true;
                }

                // Set font settings to draw it correctly.
                ctx.textAlign = 'center';
                ctx.textBaseline = 'middle';
                var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
                var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
                ctx.font = fontSizeToUse + "px " + fontStyle;
                ctx.fillStyle = color;

                if (!wrapText) {
                    ctx.fillText(txt, centerX, centerY);
                    return;
                }

                var words = txt.split(' ');
                var line = '';
                var lines = [];

                // Break words up into multiple lines if necessary
                for (var n = 0; n < words.length; n++) {
                    var testLine = line + words[n] + ' ';
                    var metrics = ctx.measureText(testLine);
                    var testWidth = metrics.width;
                    if (testWidth > elementWidth && n > 0) {
                        lines.push(line);
                        line = words[n] + ' ';
                    } else {
                        line = testLine;
                    }
                }

                // Move the center up depending on line height and number of lines
                centerY -= (lines.length / 2) * lineHeight;

                for (var n = 0; n < lines.length; n++) {
                    ctx.fillText(lines[n], centerX, centerY);
                    centerY += lineHeight;
                }
                //Draw text in center
                ctx.fillText(line, centerX, centerY);
            }
        }
    });

    Chart.defaults.global.responsive = true;
    Chart.defaults.global.tooltips.mode = 'index';
    Chart.defaults.global.tooltips.intersect = false;
    Chart.defaults.global.defaultFontFamily = 'Poppins';
    Chart.defaults.global.defaultFontSize = 12;
    Chart.defaults.global.animation.duration = 3000;

    // CHART 1

    var ctx = document.getElementById("ctxSex");
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            datasets: [{
                data: [82, 18],
                backgroundColor: [
                    '#2138B7', // COLOR 1
                    '#F0EAD6' // COLOR 2
                ],
                borderColor: [
                    '#2138B7', // COLOR 1
                    '#F0EAD6' // COLOR 2
                ]
            }]
        },
        options: {
            cutoutPercentage: 60,
            aspectRatio: 3,
            legend: {
                display: false
            },
            layout: {
                padding: {
                    bottom: 2,
                }
            },
            responsive: true,
            maintainAspectRatio: true,
            plugins: {
                labels: false
            },
            elements: {
                center: {
                    text: '82%',
                    color: '#212529',
                    fontStyle: 'Poppins',
                    sidePadding: 20,
                    minFontSize: 12,
                    lineHeight: 25
                }
            }
        }
    });

    // CHART 2

    var ctx2 = document.getElementById("ctxCivil");
    var myChart2 = new Chart(ctx2, {
        type: 'pie',
        data: {
            datasets: [{
                data: [85, 15],
                backgroundColor: [
                    '#2138B7', // COLOR 1
                    '#F0EAD6' // COLOR 2
                ],
                borderColor: [
                    '#2138B7', // COLOR 1
                    '#F0EAD6' // COLOR 2
                ]
            }]
        },
        options: {
            cutoutPercentage: 60,
            aspectRatio: 3,
            legend: {
                display: false
            },
            layout: {
                padding: {
                    bottom: 2
                }
            },
            responsive: true,
            maintainAspectRatio: true,
            plugins: {
                labels: false
            },
            elements: {
                center: {
                    text: '85%',
                    color: '#212529',
                    fontStyle: 'Poppins',
                    sidePadding: 20,
                    minFontSize: 12,
                    lineHeight: 25
                }
            }
        }
    });
    // CHART 3

    var ctx3 = document.getElementById("ctxTenurial");
    var myChart3 = new Chart(ctx3, {
        type: 'pie',
        data: {
            datasets: [{
                data: [62, 1, 5, 1, 4, 5],
                backgroundColor: [
                    '#2138B7', // COLOR 1
                    '#F0EAD6', // COLOR 2
                    '#DBF968', // COLOR 3
                    '#CF56C0', // COLOR 4
                    '#4FCEB9', // COLOR 5
                    '#794486' // COLOR 6
                ],
                borderColor: [
                    '#2138B7', // COLOR 1
                    '#F0EAD6', // COLOR 2
                    '#DBF968', // COLOR 3
                    '#CF56C0', // COLOR 4
                    '#4FCEB9', // COLOR 5
                    '#794486' // COLOR 6
                ]
            }]
        },
        options: {
            cutoutPercentage: 60,
            aspectRatio: 2,
            legend: {
                display: false
            },
            layout: {
                padding: {
                    bottom: 2
                }
            },
            responsive: true,
            maintainAspectRatio: true,
            plugins: {
                labels: false
            },
            elements: {
                center: {
                    text: '62%',
                    color: '#212529',
                    fontStyle: 'Poppins',
                    sidePadding: 20,
                    minFontSize: 12,
                    lineHeight: 25
                }
            }
        }
    });

    // CHART 4

    var ctx4 = document.getElementById("ctxIncome");
    var myChart4 = new Chart(ctx4, {
        type: 'pie',
        data: {
            datasets: [{
                data: [84, 1, 5, 1, 4, 5],
                backgroundColor: [
                    '#2138B7', // COLOR 1
                    '#F0EAD6', // COLOR 2
                    '#DBF968', // COLOR 3
                    '#CF56C0', // COLOR 4
                    '#4FCEB9', // COLOR 5
                    '#794486' // COLOR 6
                ],
                borderColor: [
                    '#2138B7', // COLOR 1
                    '#F0EAD6', // COLOR 2
                    '#DBF968', // COLOR 3
                    '#CF56C0', // COLOR 4
                    '#4FCEB9', // COLOR 5
                    '#794486' // COLOR 6
                ]
            }]
        },
        options: {
            cutoutPercentage: 60,
            aspectRatio: 2,
            legend: {
                display: false
            },
            layout: {
                padding: {
                    bottom: 2
                }
            },
            responsive: true,
            maintainAspectRatio: true,
            plugins: {
                labels: false
            },
            elements: {
                center: {
                    text: '84%',
                    color: '#212529',
                    fontStyle: 'Poppins',
                    sidePadding: 20,
                    minFontSize: 12,
                    lineHeight: 25
                }
            }
        }
    });

    // CHART 5

    var ctx5 = document.getElementById("ctxTraining");
    var myChart = new Chart(ctx5, {
        type: 'pie',
        data: {
            datasets: [{
                data: [65, 35],
                backgroundColor: [
                    '#2138B7', // COLOR 1
                    '#F0EAD6' // COLOR 2
                ],
                borderColor: [
                    '#2138B7', // COLOR 1
                    '#F0EAD6' // COLOR 2
                ]
            }]
        },
        options: {
            cutoutPercentage: 60,
            aspectRatio: 2,
            legend: {
                display: false
            },
            layout: {
                padding: {
                    bottom: 2
                }
            },
            responsive: true,
            maintainAspectRatio: true,
            plugins: {
                labels: false
            },
            elements: {
                center: {
                    text: '65%',
                    color: '#212529',
                    fontStyle: 'Poppins',
                    sidePadding: 20,
                    minFontSize: 12,
                    lineHeight: 25
                }
            }
        }
    });

    // CHART 6

    var ctx6 = document.getElementById("ctxMembers");
    var myChart = new Chart(ctx6, {
        type: 'pie',
        data: {
            datasets: [{
                data: [58, 42],
                backgroundColor: [
                    '#2138B7', // COLOR 1
                    '#F0EAD6' // COLOR 2
                ],
                borderColor: [
                    '#2138B7', // COLOR 1
                    '#F0EAD6' // COLOR 2
                ]
            }]
        },
        options: {
            cutoutPercentage: 60,
            aspectRatio: 2,
            legend: {
                display: false
            },
            layout: {
                padding: {
                    bottom: 2
                }
            },
            responsive: true,
            maintainAspectRatio: true,
            plugins: {
                labels: false
            },
            elements: {
                center: {
                    text: '58%',
                    color: '#212529',
                    fontStyle: 'Poppins',
                    sidePadding: 20,
                    minFontSize: 12,
                    lineHeight: 10
                }
            }
        }
    });

</script>
{% endblock script %}
