{% extends 'main.html' %}
{% load static %}
{% block content %}
  <!-- Header --->
  <div id='regionalprice' class="jumbotron">
    <div class="jumbotron-content text-left">
      <div class="row">
        <div class="col">
          <h2>State of the Rice Sector in the Philippines</h2>
          <h1>{{title}}</h1>
          <p><i>How does the price of un-hulled and de-hulled rice fare in the marketplace?</i>
            <br>Know the current and historical price of rice.</p>
        </div>
        <div class="col">
          <br>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-center">
      <div class="row">
        <div class="col-12">
          <div class="card primary mb-2 bg-primary text-white">
              <div class="card-body" style="padding:5px;">
                  <h5 class="card-title mt-2">Dry Palay Farmgate Price ()</h5>
                  <h1 class="card-text font-weight-bold">P19.1
                    <img class='arrowup' src="{% static 'assets/arrow_industry up.png' %}" >
                    </h1>
                  <div class="card-note w-50 mx-auto rounded-pill bg-warning">
                      <p>per kilogram (kg)</p>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card-group">
            <div class="card primary mb-2 mr-2 bg-alternate3 text-black">
                <div class="card-body" style="padding:5px;">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title mt-1">Bigas Wholesale Price ()</h5>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-4">
                            <h6 class="mt-4 ml-2 text-left">WELL-MILLED</h6>
                          </div>
                          <div class="col-8">
                            <h2 class="card-text font-weight-bold smaller">P19.1
                              <img class='arrowup2' src="{% static 'assets/arrow_industry up2.png' %}" >
                              </h2>
                              <div class="card-note w-75 mx-auto rounded-pill bg-primary mt-2 text-white">
                                  <p>per kilogram (kg)</p>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="row">
                          <div class="col-4">
                            <h6 class="mt-4 ml-2 text-left">REGULAR-MILLED</h6>
                          </div>
                          <div class="col-8">
                            <h2 class="card-text font-weight-bold smaller">P19.1
                              <img class='arrowup2' src="{% static 'assets/arrow_industry up2.png' %}" >
                              </h2>
                              <div class="card-note w-75 mx-auto rounded-pill bg-primary mt-2 text-white">
                                  <p>per kilogram (kg)</p>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="card primary mb-2 bg-alternate3 text-black">
                <div class="card-body" style="padding:5px;">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title mt-2">Bigas Retail Price ()</h5>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-4">
                            <h6 class="mt-4 ml-2 text-left">WELL-MILLED</h6>
                          </div>
                          <div class="col-8">
                            <h2 class="card-text font-weight-bold smaller">P19.1
                              <img class='arrowup' src="{% static 'assets/arrow_industry up2.png' %}" >
                              </h2>
                              <div class="card-note w-75 mx-auto rounded-pill bg-primary mt-2 text-white">
                                  <p>per kilogram (kg)</p>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="row">
                          <div class="col-4">
                            <h6 class="mt-4 ml-2 text-left">REGULAR-MILLED</h6>
                          </div>
                          <div class="col-8">
                            <h2 class="card-text font-weight-bold smaller">P19.1
                              <img class='arrowup' src="{% static 'assets/arrow_industry up2.png' %}" >
                              </h2>
                            <div class="card-note w-75 mx-auto rounded-pill bg-primary mt-2 text-white">
                                <p>per kilogram (kg)</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-2" data-toggle="modal" data-target="#table1">
              <div class="card-header text-left" data-toggle="tooltip" data-placement="top" title="Click to view all">
                  <h5 class="my-0 font-weight-bold">Dry palay farmgate price (2000-2019)</h5>
                  <h5 class="my-0 font-weight-normal text-muted">in Philippine Peso</h5>
              </div>
              <div class="card-body">
                  <div><canvas id="ctxFarmPrices"></canvas></div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
      <div class="col-12">
        <div class="card mb-2" data-toggle="modal" data-target="#table2">
            <div class="card-header text-left" data-toggle="tooltip" data-placement="top" title="Click to view all">
                <h5 class="my-0 font-weight-bold">Bigas wholesale price of regular and well-milled rice (2000-2019)</h5>
                <h5 class="my-0 font-weight-normal text-muted">in Philippine Peso</h5>
            </div>
            <div class="card-body">
                <div><canvas id="ctxWholesalePrices"></canvas></div>
            </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card mb-2" data-toggle="modal" data-target="#table3">
            <div class="card-header text-left" data-toggle="tooltip" data-placement="top" title="Click to view all">
                <h5 class="my-0 font-weight-bold">Bigas retail price of regular and well-milled rice (2000-2019)</h5>
                <h5 class="my-0 font-weight-normal text-muted">in Philippine Peso</h5>
            </div>
            <div class="card-body">
                <div><canvas id="ctxRetailPrices"></canvas></div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block script %}
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.tooltips.mode = 'index';
    Chart.defaults.global.tooltips.intersect = false;
    Chart.defaults.global.defaultFontFamily = 'Poppins';
    Chart.defaults.global.defaultFontSize = 13;
    Chart.defaults.global.animation.duration = 3000;

    // CHART 1

    var dbFarmPrices = {{ npData|safe }};
    var dbFarmPricesR = {{ rpData|safe }};
    let years = [];
    let values_n_prices = [];
    let values_r_prices = [];

    try {
        dbFarmPrices.map((item) => {
            years.push(item.year);
            values_n_prices.push(item.value);
        });
        dbFarmPricesR.map((item) => {
            values_r_prices.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var farmPrices = document.getElementById('ctxFarmPrices').getContext('2d');
    var tempFarmLabels = [...years];
    var farmPriceData = [...values_n_prices];
    var farmPriceReal = [...values_r_prices];
    var farmPricesChart = new Chart(farmPrices, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: tempFarmLabels,
            datasets: [{
                label: 'Nominal price',
                backgroundColor: '#A6CEE3', // COLOR 1
                borderColor: '#A6CEE3', // COLOR 1
                lineTension: 0,
                fill: false,
                data: farmPriceData,
                type: 'line'
            }, {
                label: 'Real price (2012=100)',
                backgroundColor: '#007FFE', // COLOR 2
                borderColor: '#007FFE', // COLOR 2
                lineTension: 0,
                fill: false,
                data: farmPriceReal,
                type: 'line'
            }]
        },

        // Configuration options go here
        options: {
            aspectRatio: 2.2,
            elements: {
                point: {
                    radius: 2
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                    }
                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
            },
            // tooltips: false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 0,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';
                  ctx.fillStyle = '#6c757d';

                  this.data.datasets.forEach(function(dataset, i)
                                             {
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      ctx.fillText(data, bar._model.x + 0 , bar._model.y + -15);
                    });
                  });
                }
            }
        }
    });

    // CHART 2

    var dbWPrice ={{ rmData|safe }};
    var dbWPricesS ={{ wmData|safe }};
    let years_w = [];
    let values_rm_prices = [];
    let values_w_prices = [];

    try {
        dbWPrice.map((item) => {
            years_w.push(item.year);
            values_rm_prices.push(item.value);
        });
        dbWPricesS.map((item) => {
            values_w_prices.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var wholesalePrices = document.getElementById('ctxWholesalePrices').getContext('2d');
    var tempWLabels = [...years_w];
    var wPriceData = [...values_rm_prices];
    var wPriceSp = [...values_w_prices];
    var wholesalePricesChart = new Chart(wholesalePrices, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: tempWLabels,
            datasets: [{
                label: 'Regular milled rice',
                backgroundColor: '#007FFE', // COLOR 1
                borderColor: '#007FFE', // COLOR 1
                lineTension: 0,
                fill: false,
                data: wPriceData,
                type: 'line'
            }, {
                label: 'Well milled rice',
                backgroundColor: '#A6CEE3', // COLOR 2
                borderColor: '#A6CEE3', // COLOR 2
                lineTension: 0,
                fill: false,
                data: wPriceSp,
                type: 'line'
            }]
        },

        // Configuration options go here
        options: {
            aspectRatio: 2.2,
            elements: {
                point: {
                    radius: 2
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                    }
                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
            },
            tooltips: false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 0,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';
                  ctx.fillStyle = '#6c757d';

                  this.data.datasets.forEach(function(dataset, i)
                                             {
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      ctx.fillText(data, bar._model.x + 0 , bar._model.y + -15);
                    });
                  });
                }
            }
        }
    });

    // CHART 3

    var dbRTPrice = {{ rrmData|safe }};
    var dbRTPricesS = {{ rwmData|safe }};
    let years_r = [];
    let values_rr_prices = [];
    let values_wr_prices = [];

    try {
        dbRTPrice.map((item) => {
            years_r.push(item.year);
            values_rr_prices.push(item.value);
        });
        dbRTPricesS.map((item) => {
            values_wr_prices.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var retailPrices = document.getElementById('ctxRetailPrices').getContext('2d');
    var tempRLabels = [...years_r];
    var rPriceData = [...values_rr_prices];
    var rPriceSp = [...values_wr_prices];
    var retailPricesChart = new Chart(retailPrices, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: tempWLabels,
            datasets: [{
                label: 'Regular milled rice',
                backgroundColor: '#007FFE', // COLOR 1
                borderColor: '#007FFE', // COLOR 1
                lineTension: 0,
                fill: false,
                data: rPriceData,
                type: 'line'
            }, {
                label: 'Well milled rice',
                backgroundColor: '#A6CEE3', // COLOR 2
                borderColor: '#A6CEE3', // COLOR 2
                lineTension: 0,
                fill: false,
                data: rPriceSp,
                type: 'line'
            }]
        },

        // Configuration options go here
        options: {
            aspectRatio: 2.2,
            elements: {
                point: {
                    radius: 2
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                    }
                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
            },
            tooltips: false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 0,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';
                  ctx.fillStyle = '#6c757d';

                  this.data.datasets.forEach(function(dataset, i)
                                             {
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      ctx.fillText(data, bar._model.x + 0 , bar._model.y + -15);
                    });
                  });
                }
            }
        }
    });

</script>
{% endblock script %}
