{% extends 'main.html' %}
{% load static %}
{% block content %}

    <!-- Header --->
    <div id="regionyieldcost" class="jumbotron">
        <div class="jumbotron-content">
          <div class="row">
            <div class="col-9">
              <h2>{{ title2 }}</h2>
              <h1>{{ title }}</h1>
              <p><i>How competitive are our farmers in terms of having high yield with less cost?</i> 
                <br>Explore the comparison of NPK utilization among the top yielding provinces, distribution 
                <br>of cost items per hectare, and yield and cost analysis per province.</p>
            </div>
            <div class="col-3">
              <div class="w-75 float-right text-center mx-auto rounded-pill bg-light">
                <h6 class="text-dark pt-2">Population: <span class="font-weight-bold">108.8 MILLION</span> (PSA, 2021)</h6>
            </div>
            </div>
          </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card-group text-center">
                        <div class="card primary mb-2 bg-primary text-white">
                            <div class="card-body">
                                <h5 class="card-title">Average Yield</h5>
                                <h1 class="card-text font-weight-bold">19.29 <i class="bi bi-caret-up-fill"></i></h1>
                                <div class="card-note w-50 mx-auto rounded-pill bg-warning">
                                    <p>metric ton per hectare</p>
                                </div>
                            </div>
                        </div>
                        <div class="card primary mb-2 ml-2 bg-primary text-white">
                            <div class="card-body">
                                <h5 class="card-title">Production Cost</h5>
                                <h1 class="card-text font-weight-bold">P19.29<i class="bi bi-caret-up-fill"></i></h1>
                                <div class="card-note w-50 mx-auto rounded-pill bg-warning">
                                    <p>per kilogram</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header text-left">
                            <h5 class="my-0 font-weight-bold">Yield versus production cost of top-producing provinces (2017)</h5>
                            <h6 class="my-0 font-weight-normal text-muted">The lower right quadrant represents the most competitive provinces with palay yield greater than 4 mt/ha and cost of less than P16/kg.</h6>
                        </div>
                        <div class="card-body">
                            <div><canvas id="ctxYieldCost"></canvas></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-2">
                        <div class="card-header text-left">
                            <h5 class="my-0">Percentage breakdown of costs of rice production (2009-2019)</h5>
                            <h6 class="my-0 font-weight-normal text-muted">in Percentage (%) (PSA, 2020)</h6>
                        </div>
                        <div class="card-body">
                            <div><canvas id="ctxBreakdownPh" height="150"></canvas></div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header text-left">
                            <h5 class="my-0">Average fertilizer use by N-P-K component in high-yielding provinces (2019)</h5>
                            <h6 class="my-0 font-weight-normal text-muted">in kilograms per hectare (kg/ha)</h6>
                        </div>
                        <div class="card-body">
                            <div><canvas id="ctxNPKUse" height="150"></canvas></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
<script type="text/javascript" src="{% static 'js/chartjs-plugin-labels.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chartjs-plugin-annotation.min.js' %}"></script>
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.tooltips.mode = 'index';
    Chart.defaults.global.tooltips.intersect = false;
    Chart.defaults.global.defaultFontFamily = 'Poppins';
    Chart.defaults.global.defaultFontSize = 13;
    Chart.defaults.global.animation.duration = 3000;

    // Chart 1

    var dbNPK = {{ npkData|safe }};
    let provinces = [];
    let nUse = [];
    let pUse = [];
    let kUse = [];

    try {
        dbNPK.map((item) => {
            provinces.push(item.location_name);
            nUse.push(item.n_value);
            pUse.push(item.p_value);
            kUse.push(item.k_value);
        });
    } catch (error) {
        console.log(error);
    }

    var npkLabels = [...provinces];
    var nUseData = [...nUse];
    var pUseData = [...pUse];
    var kUseData = [...kUse];

    var NPKUse = document.getElementById('ctxNPKUse').getContext('2d');

    var NPKUseChart = new Chart(NPKUse, {

        type: 'bar',

        data: {
            labels: npkLabels,
            datasets: [{
                    label: 'Nitrogen (N)',
                    backgroundColor: '#2037B4', // COLOR 1
                    borderColor: '#2037B4', // COLOR 1
                    data: nUseData
                },
                {
                    label: 'Phosphorus (P)',
                    backgroundColor: '#FF6800', // COLOR 2
                    borderColor: '#FF6800', // COLOR 2
                    data: pUseData
                },
                {
                    label: 'Potassium (K)',
                    backgroundColor: '#FFC900', // COLOR 2
                    borderColor: '#FFC900', // COLOR 2
                    data: kUseData
                }
            ]
        },

        options: {
            aspectRatio: 1.3,
            scales: {
                xAxes: [{
                    stacked: true,
                    display: true,
                    barPercentage: 0.7,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: true
                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
            },
            plugins: {
                labels: false
            },
            tooltips: false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 0,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';
                  ctx.fillStyle = '#ffffff';

                  this.data.datasets.forEach(function(dataset, i)
                                             {
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      data = parseInt(data).toLocaleString();
                      ctx.fillText(data, bar._model.x + 0 , bar._model.y + 17);
                    });
                  });
                }
            }
        }
    });

    // Chart 1

    var dbCostItems ={{ pbcData|safe }};
    let yearsPH = [];
    let materialInputsPH = [];
    let hiredLaborPH = [];
    let OFELaborPH = [];
    let machinePH = [];
    let irrigationPH = [];
    let landRentPH = [];
    let interestCapitalPH = [];
    let otherInputsPH = [];

    try {
        dbCostItems.map((item) => {
            yearsPH.push(item.year);
            materialInputsPH.push(item.materialInputs);
            hiredLaborPH.push(item.hiredLabor);
            OFELaborPH.push(item.OFELabor);
            machinePH.push(item.machine);
            irrigationPH.push(item.irrigation);
            landRentPH.push(item.landRent);
            interestCapitalPH.push(item.interestCapital);
            otherInputsPH.push(item.otherInputs);
        });
    } catch (error) {
        console.log(error);
    }

    var costLabels = [...yearsPH];
    var materialInputsPHData = [...materialInputsPH];
    var hiredLaborPHData = [...hiredLaborPH];
    var OFELaborPHData = [...OFELaborPH];
    var machinePHData = [...machinePH];
    var irrigationPHData = [...irrigationPH];
    var landRentPHData = [...landRentPH];
    var interestCapitalPHData = [...interestCapitalPH];
    var otherInputsPHData = [...otherInputsPH];

    var BreakdownPh = document.getElementById('ctxBreakdownPh').getContext('2d');

    var ctxBreakdownPhChart = new Chart(BreakdownPh, {

        type: 'bar',

        data: {
            labels: costLabels,
            datasets: [{
                    label: 'Material Inputs',
                    backgroundColor: '#2037B4', // COLOR 1
                    borderColor: '#2037B4', // COLOR 1
                    data: materialInputsPHData
                },
                {
                    label: 'Hired Labor',
                    backgroundColor: '#FF6800', // COLOR 2
                    borderColor: '#FF6800', // COLOR 2
                    data: hiredLaborPHData
                },
                {
                    label: 'Operator, Family, and Exchange Labor',
                    backgroundColor: '#939393', // COLOR 2
                    borderColor: '#939393', // COLOR 2
                    data: OFELaborPHData
                },
                {
                    label: 'Animal, Machine, Fuel and Oil',
                    backgroundColor: '#FFC900', // COLOR 2
                    borderColor: '#FFC900', // COLOR 2
                    data: machinePHData
                },
                {
                    label: 'Irrigation',
                    backgroundColor: '#205ECD', // COLOR 2
                    borderColor: '#205ECD', // COLOR 2
                    data: irrigationPHData
                },
                {
                    label: 'Machine and Land Rent',
                    backgroundColor: '#60B328', // COLOR 2
                    borderColor: '#60B328', // COLOR 2
                    data: landRentPHData
                },
                {
                    label: 'Interest on Capital',
                    backgroundColor: '#08549B', // COLOR 2
                    borderColor: '#08549B', // COLOR 2
                    data: interestCapitalPHData
                },
                {
                    label: 'Others',
                    backgroundColor: '#AD3A00', // COLOR 3
                    borderColor: '#AD3A00', // COLOR 3
                    data: otherInputsPHData
                }
            ]
        },

        options: {
            aspectRatio: 1.3,
            scales: {
                xAxes: [{
                    stacked: true,
                    display: true,
                    barPercentage: 0.6,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: true,
                    ticks: {
                        max: 100
                    }
                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
            },
            plugins: {
                labels: false
            },
            // tooltips: false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 0,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';
                  ctx.fillStyle = '#ffffff';

                  this.data.datasets.forEach(function(dataset, i)
                                             {
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      ctx.fillText(data, bar._model.x + 0 , bar._model.y + 15);
                    });
                  });
                }
            }
        }
    });

    var yieldCost = document.getElementById('ctxYieldCost').getContext('2d');

    var tempCategLabels = ['Agusan del Norte', 'Agusan del Sur', 'Albay', 'Antique', 'Apayao', 'Aurora', 'Bohol', 'Bukidnon', 'Bulacan', 'Cagayan', 'Camarines Sur', 'Capiz', 'Davao de Oro (Compostela Valley)', 'Davao del Norte', 'Davao del Sur', 'Davao Oriental', 'Ilocos Norte', 'Iloilo', 'Isabela', 'Kalinga', 'Laguna', 'Leyte', 'Maguindanao', 'Negros Occidental', 'North Cotabato', 'Northern Samar', 'Nueva Ecija', 'Nueva Vizcaya', 'Occidental Mindoro', 'Oriental Mindoro', 'Palawan', 'Pampanga', 'Pangasinan', 'Quezon', 'Samar (Western Samar)', 'South Cotabato', 'Sultan Kudarat', 'Tarlac', 'Zamboanga del Norte', 'Zamboanga del Sur', 'Zamboanga Sibugay'];

    var yieldCostData = {{ yuData|safe }};

    var yieldCostScat = new Chart(yieldCost, {
        // The type of chart we want to create
        type: 'scatter',

        // The data for our dataset
        data: {
            labels: tempCategLabels,
            datasets: [{
                data: yieldCostData,
                backgroundColor: '#2037B2',
                borderColor: '#2037B2',
                pointRadius: 3,
                pointHoverRadius: 3
            }]
        },
        // Configuration options go here
        options: {
            aspectRatio: 2,
            // tooltips: false,
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {

                        return  'Yield: ' + tooltipItem.xLabel + ' t/ha, Cost/kg: PhP ' + tooltipItem.yLabel;
                    }
                }
            },
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        min: 10
                    }
                }],
                xAxes: [{
                    ticks: {
                        min: 1,
                        max: 7
                    }
                }]
            },
            annotation: {
                annotations: [{
                    id: 'hline',
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-1',
                    value: 16,
                    borderColor: 'tomato',
                    borderWidth: 1,
                    fontName: 'Poppins',
                    label: {
                        content: 'PhP 16/kg',
                        position: 'right',
                        enabled: true
                    }
                }, {
                    id: 'vline',
                    type: 'line',
                    mode: 'vertical',
                    scaleID: 'x-axis-1',
                    value: 4,
                    borderColor: 'tomato',
                    borderWidth: 1,
                    fontName: 'Poppins',
                    label: {
                        content: '4 mt/ha',
                        position: 'bottom',
                        enabled: true
                    }
                }],
                drawTime: "afterDraw" // (default)
            },
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 1,
              onComplete: function() {
                let chartInstance = this.chart,
                    ctx = chartInstance.ctx;

                ctx.textAlign = 'center';
                ctx.textBaseline = 'bottom';
                ctx.fillStyle = '#6c757d';

                this.data.datasets.forEach(function(dataset, i){
                  let meta = chartInstance.controller.getDatasetMeta(i);
                  meta.data.forEach(function(bar, index) {
                    let data = dataset.data[index];
                    ctx.fillText(data.location_name, bar._model.x + 0 , bar._model.y + -5);
                  });
                });
              }
            }
        }
    });

</script>
{% endblock script %}
