{% extends 'main.html' %}
{% load static %}
{% block content %}
    <!-- Header --->
    <div class="jumbotron">
        <div class="jumbotron-content text-left">
            <div class="row">
                <div class="col-7">
                    <h2>{{title2}}</h2>
                    <h1>{{title}}</h1>
                    <p><i>What is the total volume of palay produced in the country? </i>
                        <br>Know the latest and historical rice production information and the contribution
                        <br>of each province to the overall quantity.</p>
                </div>
                <div class="col-5">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card-group text-center">
                        <div class="card primary mb-2 bg-alternate text-white">
                            <div class="card-body">
                                <h5 class="card-title text-left">Irrigated Area</h5>
                                <h1 class="card-text font-weight-bold">14.57 <img class='arrowup' src="{% static 'assets/arrow_industry up.png' %}" ></h1>
                                <div class="card-note w-75 mx-auto rounded-pill bg-primary">
                                    <p class="text-white">million metric tons</p>
                                </div>
                            </div>
                        </div>
                        <div class="card primary mb-2 ml-2 bg-primary text-white">
                            <div class="card-body">
                                <h5 class="card-title text-left">Total Production - Year</h5>
                                <h1 class="card-text font-weight-bold">19.29 <img class='arrowup' src="{% static 'assets/arrow_industry up.png' %}" ></h1>
                                  <div class="card-note w-75 mx-auto rounded-pill bg-warning">
                                    <p>million metric tons</p>
                                </div>
                            </div>
                        </div>
                        <div class="card primary mb-2 ml-2 bg-alternate2 text-white">
                            <div class="card-body">
                                <h5 class="card-title text-left">Non-Irrigated Area Total</h5>
                                <h1 class="card-text font-weight-bold">14.57 <img class='arrowup' src="{% static 'assets/arrow_industry up.png' %}" ></h1>
                                <div class="card-note w-75 mx-auto rounded-pill bg-primary">
                                    <p class="text-white">million metric tons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-2">
                        <div class="card-header text-left">
                            <h5 class="my-0 font-weight-bold">Total palay produced by year (2000-2020)</h5>
                            <h6 class="my-0 font-weight-normal text-muted">in million metric tons (mt)</h6>
                        </div>
                        <div class="card-body">
                            <div><canvas id="ctxProdStack"></canvas></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header text-left">
                    <h5 class="my-0 font-weight-bold">Total palay produced per province (2020)</h5>
                    <h6 class="my-0 font-weight-normal text-muted">in million metric tons</h6>
                </div>
                <div class="card-body">
                    <div id="prov"><canvas id="ctxTopProv"></canvas></div>
                    <div id="prov2" style='display: none'><canvas id="ctxTopProv2"></canvas></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.tooltips.mode = 'index';
    Chart.defaults.global.tooltips.intersect = false;
    Chart.defaults.global.defaultFontFamily = 'Poppins';
    Chart.defaults.global.defaultFontSize = 13;
    Chart.defaults.global.animation.duration = 3000;

    // CHART 1
    var dbTotal ={{ aeData|safe }};
    var dbIrrigated = {{ iData|safe }};
    var dbRainfed = {{ rfData|safe }};

    let years = [];
    let values_total = [];
    let values_irrig = [];
    let values_rain = [];

    try {
        dbTotal.map((item) => {
            years.push(item.year);
            values_total.push(item.value);
        });
        dbIrrigated.map((item) => {
            values_irrig.push(item.value);
        });
        dbRainfed.map((item) => {
            values_rain.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var prodStack = document.getElementById('ctxProdStack').getContext('2d');
    var tempPLabels = [...years];
    var prodAllData = [...values_total];
    var prodIrrigData = [...values_irrig];
    var prodRainData = [...values_rain];
    var prodStackChart = new Chart(prodStack, {

        type: 'bar',

        data: {
            labels: tempPLabels,
            datasets: [{
                    label: 'All ecosystems',
                    backgroundColor: '#007FFE', // COLOR 1
                    borderColor: '#007FFE', // COLOR 1
                    lineTension: 0,
                    type: 'line',
                    fill: false,
                    data: prodAllData,
                },
                {
                    label: 'Irrigated',
                    backgroundColor: '#C45000', // COLOR 2
                    borderColor: '#C45000', // COLOR 2
                    data: prodIrrigData
                },
                {
                    label: 'Rainfed',
                    backgroundColor: '#FFB043', // COLOR 3
                    borderColor: '#FFB043', // COLOR 3
                    data: prodRainData
                }
            ]
        },

        options: {
            aspectRatio: 2.5,
            scales: {
                xAxes: [{
                    stacked: true,
                    display: true,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                        stepSize: 5

                    }
                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
            }
        }
    });

    // CHART 2

    var dbProvs = {{ tpData|safe }};
    let provinces = [];
    let values = [];

    try {
        dbProvs.map((item) => {
            provinces.push(item.location_name);
            values.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var prodStack = document.getElementById('ctxProdStack').getContext('2d');
    var tempPrLabels = [...provinces];
    var topProvData = [...values];

    var topProv = document.getElementById('ctxTopProv').getContext('2d');
    var topProvChart = new Chart(topProv, {
        // The type of chart we want to create
        type: 'horizontalBar',

        data: {
            labels: tempPrLabels,
            datasets: [{
                label: 'Provincial total production',
                backgroundColor: '#2138B7', // COLOR 4
                borderColor: '#2138B7', // COLOR 4
                fill: false,
                data: topProvData
            }]
        },

        options: {
            aspectRatio: 0.5,
            scales: {
                xAxes: [{
                    display: false,
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }]
            },
            legend: {
                display: false
            },
            tooltips: false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 0,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';

                  this.data.datasets.forEach(function(dataset, i)
                                             {
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      ctx.fillText(data, bar._model.x + 15 , bar._model.y + 5);
                    });
                  });
                }
            }
        }
    });

    function toggle(){
      var checkbox = document.getElementById('checkbox');
      var prov = document.getElementById('prov');
      var prov2 = document.getElementById('prov2');
      if (checkbox.checked == true){
        prov2.style.display = 'block';
        prov.style.display = 'none';
      } else {
        prov2.style.display = 'none';
        prov.style.display = 'block';
      }
    }
    var dbProvs2 = {{ tpData2|safe }};
    let provinces2 = [];
    let values2 = [];

    try {
        dbProvs2.map((item) => {
            provinces2.push(item.location_name);
            values2.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var prodStack2 = document.getElementById('ctxProdStack').getContext('2d');
    var tempPrLabels2 = [...provinces2];
    var topProvData2 = [...values2];

    var topProv2 = document.getElementById('ctxTopProv2').getContext('2d');
    var topProvChart2 = new Chart(topProv2, {
        // The type of chart we want to create
        type: 'horizontalBar',

        data: {
            labels: tempPrLabels2,
            datasets: [{
                label: 'Provincial total production',
                backgroundColor: '#2138B7', // COLOR 4
                borderColor: '#2138B7', // COLOR 4
                fill: false,
                data: topProvData2
            }]
        },

        options: {
            aspectRatio: 2,
            scales: {
                xAxes: [{
                    display: false,
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }]
            },
            legend: {
                display: false
            },
            tooltips: false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 0,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';

                  this.data.datasets.forEach(function(dataset, i)
                                             {
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      ctx.fillText(data, bar._model.x + 15 , bar._model.y + 5);
                    });
                  });
                }
            }
        }
    });

    </script>
{% endblock script %}
