@font-face {
    font-family: 'Poppins';
    src: url('../webfonts/Poppins-Medium.woff2') format('woff2'),
        url('../webfonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../webfonts/Poppins-Bold.woff2') format('woff2'),
        url('../webfonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../webfonts/Poppins-Regular.woff2') format('woff2'),
        url('../webfonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../webfonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../webfonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../webfonts/Poppins-Light.woff2') format('woff2'),
        url('../webfonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* @media (min-width: 768px) {
    html {
        font-size: 16px;
    }
} */

@media (min-width: 768px) {
    .container {
      /* margin-left: 225px; */
      max-width: 1528px !important;
    }
    body {
      margin-left: 70px;
  }
}
body {
  background-color: #EEEEEE;
}

* {
    font-family: 'Poppins' !important;
    font-weight: normal;
}

h1 {
    font-family: 'Poppins' !important;
    font-weight: bold;
    font-size: 68px;
}

h2 {
    font-family: 'Poppins' !important;
    font-weight: 500;
    font-size: 25px;
}
h3 {
    font-family: 'Poppins' !important;
    font-weight: 500;
    font-size: 20px;
}

h4 {
    font-family: 'Poppins' !important;
    font-weight: 500;
    font-size: 15px;
}
h5 {
  font-family: 'Poppins' !important;
  font-weight: 100;
  font-size: 12px;
}
h6 {
  font-family: 'Poppins' !important;
  font-weight: 100;
  font-size: 11px;
}
p {
    font-family: 'Poppins' !important;
    font-weight: normal;
    font-size: 14px;
}

nav {
    background-color: white !important;
}

nav a,
nav button {
    font-family: 'Poppins' !important;
    font-weight: 300;
    font-size: 13px !important;
}
.container {
  background-color: #FFFFFF;
}
.jumbotron {
    position: relative;
    padding: 1em;
    margin-left: -15px;
    margin-right: -15px;
}

.jumbotron:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url("../assets/Heading - Produc.png");
    background-position: 50% 0;
    background-size: cover;
}

div#main:before {
    background-image: url("../assets/Heading.png") !important;
}
div#pp:before {
    background-image: url("../assets/Industry/Print - Industry National – PP@2x.png") !important;
}
div#ah:before {
    background-image: url("../assets/Industry/Print - Industry National – AH@2x.png") !important;
}

.jumbotron-content {
    position: relative;
}

.dashboard .card.primary:hover {
    filter: brightness(65%);
}

.dashboard .card.secondary:hover {
    filter: brightness(90%);
    border-color: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 2px #004242;
    -moz-box-shadow: inset 0px 0px 0px 2px #004242;
    box-shadow: inset 0px 0px 0px 2px #004242;
}

.card.primary.mb-4.text-dark:hover {
    filter: brightness(90%);
    border-color: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 2px #004242;
    -moz-box-shadow: inset 0px 0px 0px 2px #004242;
    box-shadow: inset 0px 0px 0px 2px #004242;
}

.card.mb-4 i.bi,
.card.mb-5 i.bi,
.card.mb-4.bg-warning i.bi,
.card.mb-2 i.bi,
.card.mb-2.bg-warning.col-6 i.bi {
    font-size: 16px;
    float: right;
    display: inline;
    vertical-align: middle;
    line-height: 65px;
    position: absolute;
    margin-left: 7px;
    color: #FE7F00;
}

.card-body.py-1 i.bi {
    font-size: 16px;
    float: right;
    display: inline;
    vertical-align: middle;
    line-height: 100px;
    position: absolute;
    margin-left: -10px;
    color: #FE7F00;
}


.col-xs-12 .card.mb-2.bg-warning i.bi {
    line-height: 35px;
}

.card {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.card.mb-4.bg-warning i.bi,
.card.mb-2.bg-warning i.bi,
.card.mb-2.bg-warning.col-6 i.bi {
    color: #2138b7;
}

.sublevel .card i.bi {
    line-height: 75px;
}

.farmer .card i.bi {
    line-height: 60px;
}

.dashboard .card.primary i.bi {
    float: right;
    display: inline;
    vertical-align: middle;
    line-height: 70px;
    position: absolute;
    margin-left: 5px;
    color: #FE7F00;
}

.dashboard .card.secondary i.bi {
    font-size: 12px;
    float: right;
    display: inline;
    vertical-align: middle;
    line-height: 30px;
    position: absolute;
    margin-left: 5px;
    color: #FE7F00
}

.card.bg-alternate {
    background: #9EC5D9;
}

.card.bg-alternate i.bi {
    color: #2138B7;
}
.card.bg-alternate2 i.bi {
    color: #2138B7;
}
.card.bg-alternate3 i.bi {
    color: #2138B7;
}

.card.primary h1 {
    font-family: 'Poppins' !important;
    font-weight: 600;
    font-size: 40px;
}

.card.primary h1.smaller {
    font-size: 40px !important;
}

.card.primary h1.smaller i.bi {
    font-size: 12px !important;
    line-height: 50px !important;
    ;
}

.card.primary h2 {
    margin-left: -15px;
    font-size: 45px;
}

.farmer .card.primary h2 {
    margin-left: -15px;
    font-size: 60px;

}

/* .card.primary p {
    font-family: 'Poppins' !important;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 9px;
} */

.card.primary h2 i.bi {
    line-height: 50px;
}

.farmer .card.primary h1 {
    font-size: 48px;
}

.card.primary i {
    font-size: 30px;
}

.card.primary h5 {
    font-family: 'Poppins' !important;
    font-weight: normal;
    font-size: 14px;
}

.card.primary p {
    font-family: 'Poppins' !important;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
}
/* added by gelo */
ion-icon {
  font-size: 20px;
}
@keyframes over {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu-bar{
  background-color: #131313;
  position: fixed;
  width: 70px;
  z-index: 1030;
  top:0;
  bottom:0;
  left: 0;
  background-image: url('../assets/Ricelytics_Logo_-_White_Orange.png');
  background-repeat: no-repeat;
  background-position: 5px 40px;
}
.menu-bar:hover{
  background-color: #131313;
  position: fixed;
  width: 405px;
  z-index: 1031;
  top:0;
  bottom:0;
  background-image: url('../assets/MJCSotto-PRA-0628.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  overflow: hidden;
  transition: .5s;
  transform-origin: left;
}
.menu-bar:hover .back-button{
  display: none;
}
.show-content{
  display: none;
}
.menu-bar:hover .show-content {
  display: block;
  animation-name: over;
  animation-duration: .7s;
  animation-fill-mode: forwards;
}

.menu-bar-title{
  background-color: #131313;
  color: #007FFE;
  cursor: pointer;
  border-style: solid;
  border-width: 1px 0px;
  border-color: #131313;
}
.menu-bar-title:hover{
  border-style: solid;
  border-width: 1px 0px;
  border-color: #007FFE;
  transition: 1s;
}
.active-title{
  color: #FE7F00;
}
.h6-small{
  font-family: 'Poppins' !important;
  font-weight: lighter;
  font-size: 8px;
}
.p-small{
  font-family: 'Poppins' !important;
  font-weight: lighter;
  font-size: 12px;
}
.menu-bar-contact{
  width: 370px;
  height: 115px;
  border-left-style: solid;
  border-left-color: white;
  border-left-width: 5px;
}
.text-black {
  color: #000000;
}
.card i.bi,
.card.mb-2 i.bi,
.card.mb-2.bg-warning.col-4 i.bi {
    font-size: 16px;
    float: right;
    display: inline;
    vertical-align: middle;
    line-height: 38px;
    position: absolute;
    margin-left: 3px;
    color: #FE7F00;
}

.card.secondary h1 {
    font-family: 'Poppins' !important;
    font-weight: 600;
    font-size: 40px;
}

.card.secondary h1.smaller {
    font-size: 34px !important;
}

.card.secondary h1.smaller i.bi {
    font-size: 12px !important;
    line-height: 50px !important;
}

.card.secondary h2 {
    /* margin-left: -10px; */
    font-size: 34px;
    margin-bottom:1px;
    font-weight: 500;
}
.card.secondary h3 {
  font-size: 26px;
  margin-bottom:1px;
  font-weight: 500;
}
.card.secondary h6 {
  font-family: 'Poppins' !important;
  font-weight: normal;
  font-size: 11px;
}
.card.secondary p {
    font-family: 'Poppins' !important;
    font-weight: normal;
    font-size: 9px;
    margin-bottom:.4rem;
}
/* .image {
  height:580px;
  width: 350px;
} */
.card.bg-alternate{
  background:#C45000;
}
.card.bg-alternate2{
  background:#FFB043;
}
.card.bg-alternate3{
  background:#9EC5D9;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid #17a2b8;
  border-bottom: 16px solid #ffffff;
  border-left: 16px solid #fe7f00;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  z-index: 10000;
  top: 9px;
  right: 20px;
  left:5;
  bottom:5;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.line{
  height: auto;
  width: 12px;
  float: right;
  display: inline;
  vertical-align: middle;
  position: absolute;
  margin-top: 23px;
  margin-left: 3px;
}
.arrowup{
  height: auto;
  width: 12px;
  float: right;
  display: inline;
  vertical-align: middle;
  position: absolute;
  margin-top: 15px;
  margin-left: 3px;
}
.arrowdown{
  height: auto;
  width: 12px;
  float: right;
  display: inline;
  vertical-align: middle;
  position: absolute;
  margin-top: 23px;
  margin-left: 3px;
}

.line2{
  height: auto;
  width: 12px;
  float: right;
  display: inline;
  vertical-align: middle;
  position: absolute;
  margin-top: 14px;
  margin-left: 3px;
}
.arrowup2{
  height: auto;
  width: 12px;
  float: right;
  display: inline;
  vertical-align: middle;
  position: absolute;
  margin-top: 5px;
  margin-left: 3px;
}
.arrowdown2{
  height: auto;
  width: 12px;
  float: right;
  display: inline;
  vertical-align: middle;
  position: absolute;
  margin-top: 15px;
  margin-left: 3px;
}
.line3{
  height: auto;
  width: 12px;
  float: right;
  display: inline;
  vertical-align: middle;
  position: absolute;
  margin-top: 45px;
  margin-left: -7px;
}
.arrowup3{
  height: auto;
  width: 12px;
  float: right;
  display: inline;
  vertical-align: middle;
  position: absolute;
  margin-top: 35px;
  margin-left: -5px;
}
.arrowdown3{
  height: auto;
  width: 12px;
  float: right;
  display: inline;
  vertical-align: middle;
  position: absolute;
  margin-top: 70px;
  margin-left: -5px;
}
