{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Body -->
<div class="sublevel container">
    <!-- Header --->
    <div class="jumbotron">
        <div class="jumbotron-content text-center">
            <h2>State of the Rice Sector in the Philippines</h2>
            <h1>Rice Consumption</h1>
            <p class="lead">Nostrum et aut alias aut ea distinctio accusamus. Ea dolores expedita autem eius. <br />Voluptatibus fuga nulla quia et.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-deck mb-2 text-center">
                <div class="card primary mb-4 bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title p-2">Per Capita Rice Consumption ({{ per_capita_year }})</h5>
                        <h1 class="card-text font-weight-bold">{{ per_kapita_kg_value }}<i class="bi bi-caret-down-fill"></i></h1>
                        <div class="card-note w-50 mx-auto rounded-pill">
                            <p class="text-dark">kilograms (kgs)</p>
                        </div>
                    </div>
                </div>
                <div class="card primary mb-4 bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title p-2">Daily Per Capita Rice Consumption ({{ per_capita_year }})</h5>
                        <h1 class="card-text font-weight-bold">{{ per_kapita_gram_value }}<i class="bi bi-caret-down-fill"></i></h1>
                        <div class="card-note w-50 mx-auto rounded-pill">
                            <p class="text-dark">grams (gms)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="my-0 p-2">Yearly per capita rice consumption (1999-2016)</h5>
                    <p class="my-0 font-weight-normal text-muted">in kilograms (kg) (FNRI and PSA, 2019)</p>
                </div>
                <div class="card-body">
                    <div><canvas id="ctxKgCapita"></canvas></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="my-0 p-2">Daily per capita rice consumption (1999-2016)</h5>
                    <p class="my-0 font-weight-normal text-muted">in grams (gms) (FNRI and PSA, 2019)</p>
                </div>
                <div class="card-body">
                    <div><canvas id="ctxGramCapita"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="my-0 p-2">Local production, net food disposable and population (2000-2019)</h5>
                    <p class="my-0 font-weight-normal text-muted">in thousand tons ('000), population in millions (PSA, 2020)</p>
                </div>
                <div class="card-body">
                    <div><canvas id="ctxProdFood"></canvas></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer --->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">2021. RiceLytics Data Initative.</small>
                <small class="text-muted">Philippine Rice Research Institute.</small>
            </div>
            <div class="col-6 col-md">
                <h5>State of the Rice Sector</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Rice Production</a></li>
                    <li><a class="text-muted" href="#">Area Harvested</a></li>
                    <li><a class="text-muted" href="#">Yield per Hectare</a></li>
                    <li><a class="text-muted" href="#">Supply and Utilization</a></li>
                    <li><a class="text-muted" href="#">Gross Value Added</a></li>
                    <li><a class="text-muted" href="#">Farmer’s Income</a></li>
                    <li><a class="text-muted" href="#">Palay & Rice Prices</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Rice Farmer Characteristics</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Sociodemographics</a></li>
                    <li><a class="text-muted" href="#">Farm Details</a></li>
                    <li><a class="text-muted" href="#">Technology Awareness</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>RCEF Updates</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Inbred Seeds</a></li>
                    <li><a class="text-muted" href="#">Machineries</a></li>
                    <li><a class="text-muted" href="#">Extension</a></li>
                    <li><a class="text-muted" href="#">Credit</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript" src="{% static 'js/chartjs-plugin-labels.min.js' %}"></script>
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.tooltips.mode = 'index';
    Chart.defaults.global.tooltips.intersect = false;
    Chart.defaults.global.defaultFontFamily = 'Poppins';
    Chart.defaults.global.defaultFontSize = 13;
    Chart.defaults.global.animation.duration = 3000;

    var dbTotalSupply = {{ ycData|safe }};
    var dbTotalUtil = {{ dcData|safe }};
    var dbSupplySources ={{ lpData|safe }};
    var dbUseAccounts = {{ nfData|safe }};
    var dbPerCapitas = {{ cData|safe }};
    var dbPerCapitasFNRI = {{ fnriData|safe }};
    var dbPopulation ={{ pData|safe }};

    var curStocks = '2551.00';
    var curProduce = '12305.00';
    var curImports = '3118.00';
    var curExports = '0.00';
    var curSeeds = '228.00';
    var curFeedWastes = '800.00';
    var curProcessing = '492.00';
    var curEndStocks = '2675.00';
    var curFood = '13779.00';

    let years = [];
    let years_act = [];
    let supplies = [];
    let utils = [];
    let stocks = [];
    let locals = [];
    let imports = [];
    let exports = [];
    let seeds = [];
    let feedswastes = [];
    let processing = [];
    let endstocks = [];
    let food = [];
    let kgpercapita = [];
    let gmpercapita = [];
    let kgpercapita_act = [];
    let gmpercapita_act = [];
    let population = [];

    try {
        dbSupplySources.map((item) => {
            years.push(item.year);
            stocks.push(item.SUBeginningStocks);
            locals.push(item.SUProduction);
            imports.push(item.SUImports);
        });
        dbUseAccounts.map((item) => {
            exports.push(item.UTExports);
            seeds.push(item.UTSeeds);
            feedswastes.push(item.UTFeedsWaste);
            processing.push(item.UTProcessing);
            endstocks.push(item.UTEndingStocks);
            food.push(item.uttotalnet);
        });
        dbPopulation.map((item) => {
            population.push(item.value);
        });
        dbPerCapitas.map((item) => {
            kgpercapita.push(item.KgPerYear);
            gmpercapita.push(item.GmPerDay);
        });
        dbPerCapitasFNRI.map((item) => {
            years_act.push(item.year);
            kgpercapita_act.push(item.KgPerYear);
            gmpercapita_act.push(item.GmPerDay);
        });
    } catch (error) {
        console.log(error);
    }

    var yearsLab = [...years];
    var yearsLabAct = [...years_act];
    var totalProduce = [...locals];
    var totalFood = [...food];
    var totalKgCapita = [...kgpercapita];
    var totalGmCapita = [...gmpercapita];
    var totalKgCapitaAct = [...kgpercapita_act];
    var totalGmCapitaAct = [...gmpercapita_act];
    var populationPH = [...population];



    /**
    ctxSupply
    ctxUtil
    */

    var ProdFood = document.getElementById('ctxProdFood').getContext('2d');

    var ProdFoodChart = new Chart(ProdFood, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: yearsLab,
            datasets: [{
                type: 'line',
                label: 'Local Production',
                backgroundColor: '#A6CEE3', // COLOR 1
                borderColor: '#A6CEE3', // COLOR 1
                lineTension: 0,
                fill: false,
                data: totalProduce,
                yAxisID: 'A'
            }, {
                type: 'line',
                label: 'Net Food Disposable',
                backgroundColor: '#007FFE', // COLOR 2
                borderColor: '#007FFE', // COLOR 2
                lineTension: 0,
                fill: false,
                data: totalFood,
                yAxisID: 'A'
            }, {
                label: 'Population (in Million)',
                backgroundColor: '#2138B7', // COLOR 2
                borderColor: '#2138B7', // COLOR 2
                data: populationPH,
                yAxisID: 'B'
            }]
        },

        // Configuration options go here
        options: {
            aspectRatio: 2.5,
            elements: {
                point: {
                    radius: 2
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    id: 'A',
                    type: 'linear',
                    position: 'left',
                }, {
                    id: 'B',
                    type: 'linear',
                    position: 'right',
                }]
            },
            legend: {
                position: 'bottom'
            },
            plugins: {
                labels: false
            }
        }
    });

    var KgCapita = document.getElementById('ctxKgCapita').getContext('2d');

    var KgCapitaChart = new Chart(KgCapita, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: yearsLabAct,
            datasets: [{
                label: 'Per Capita (kg/year)',
                backgroundColor: '#007FFE', // COLOR 2
                borderColor: '#007FFE', // COLOR 2
                lineTension: 0,
                fill: false,
                data: totalKgCapitaAct
            }]
        },

        // Configuration options go here
        options: {
            aspectRatio: 1.75,
            scales: {
                xAxes: [{
                    stacked: true,
                    display: true,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: true,
                    ticks: {
                        min: 95,
                    }
                }]
            },
            legend: {
                position: 'bottom'
            },
            datalabels: {
                display: false
            },
            plugins: {
                labels: false
            }
        }
    });

    var GramCapita = document.getElementById('ctxGramCapita').getContext('2d');

    var GramCapitaChart = new Chart(GramCapita, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: yearsLabAct,
            datasets: [{
                label: 'Per Capita (gram/day)',
                backgroundColor: '#007FFE', // COLOR 2
                borderColor: '#007FFE', // COLOR 2
                lineTension: 0,
                fill: false,
                data: totalGmCapitaAct
            }]
        },

        // Configuration options go here
        options: {
            aspectRatio: 1.75,
            scales: {
                xAxes: [{
                    stacked: true,
                    display: true,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: true,
                    ticks: {
                        min: 200,
                    }
                }]
            },
            legend: {
                position: 'bottom'
            },
            datalabels: {
                display: false
            },
            plugins: {
                labels: false
            }
        }
    });

</script>
{% endblock script %}
