{% extends 'main.html' %}
{% load static %}
{% block content %}
    <!-- Header --->
    <div id='ah' class="jumbotron">
        <div class="jumbotron-content text-left">
          <div class="row">
            <div class="col">
              <h2>State of the Rice Sector in the Philippines</h2>
              <h1>{{title}}</h1>
              <br>
            </div>
            <div class="col">
              <br>
              <p><i>How wide was the accumalated area of the harvest palay</i>
                <br>Explore the estimated overall harvested area, the apportionment of irrigated and
                <br>non-irrigated farms, and the size of extents in the provinces.</p>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <div class="card-group text-center">
                <div class="card primary mb-2 bg-alternate text-white">
                    <div class="card-body">
                        <h5 class="card-title text-left">Irrigated Area ({{irrigated_year}})</h5>
                        <h1 class="card-text font-weight-bold">{{ irrigated_value }}
                          {% if irrigated_compare > 0 %}
                          <img class='arrowup' src="{% static 'assets/arrow_industry up.png' %}" >
                          {% elif irrigated_compare < 0 %}
                          <img class='arrowdown' src="{% static 'assets/arrow_industry down.png' %}" >
                          {% else %}
                          <img class='line' src="{% static 'assets/line_industry.png' %}" >
                          {%endif%}</h1>
                        <div class="card-note w-75 mx-auto rounded-pill bg-primary">
                            <p class="text-white">million hectares</p>
                        </div>
                    </div>
                </div>
                <div class="card primary mb-2 ml-2 bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title text-left">National Total ({{all_eco_year}})</h5>
                        <h1 class="card-text font-weight-bold">{{all_eco_value}}
                          {% if all_eco_compare > 0 %}
                          <img class='arrowup' src="{% static 'assets/arrow_industry up.png' %}" >
                          {% elif all_eco_compare < 0 %}
                          <img class='arrowdown' src="{% static 'assets/arrow_industry down.png' %}" >
                          {% else %}
                          <img class='line' src="{% static 'assets/line_industry.png' %}" >
                          {%endif%}</h1>
                        <div class="card-note w-75 mx-auto rounded-pill bg-warning">
                            <p>million hectares</p>
                        </div>
                    </div>
                </div>
                <div class="card primary mb-2 ml-2 bg-alternate2 text-white">
                    <div class="card-body">
                        <h5 class="card-title text-left">Non-Irrigated Area ({{rainfed_year}})</h5>
                        <h1 class="card-text font-weight-bold">{{rainfed_value}}
                          {% if rainfed_compare > 0 %}
                          <img class='arrowup' src="{% static 'assets/arrow_industry up.png' %}" >
                          {% elif rainfed_compare < 0 %}
                          <img class='arrowdown' src="{% static 'assets/arrow_industry down.png' %}" >
                          {% else %}
                          <img class='line' src="{% static 'assets/line_industry.png' %}" >
                          {%endif%}</h1>
                        <div class="card-note w-75 mx-auto rounded-pill bg-primary">
                            <p class="text-white">million hectares</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="my-0 p-2">Total accumulated size of area of harvested palay by year (2000-2020)</h5>
                    <p class="my-0 font-weight-normal text-muted">in million hectares (ha)</p>
                </div>
                <div class="card-body">
                    <div><canvas id="ctxAreaStack"></canvas></div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card mb-4" data-toggle="modal" data-target="#exampleModalCenter">
            <div class="card-header text-center  data-toggle="tooltip" data-placement="top" title="Click to view all">
                <h5 class="my-0 p-2">Total accumulated size of area of harvested palay by province ({{irrigated_year}})</h5>
                <p class="my-0 font-weight-normal text-muted">in hectares</p>
            </div>
            <div class="card-body">
              <canvas id="ctxTopAreas2"></canvas>
            </div>
        </div>
      </div>
    </div>
    <div class="modal fade bd-example-modal-xl" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLongTitle">Total accumulated size of area of harvested palay by province</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-6">
                <canvas id="ctxTopAreas"></canvas>
              </div>
              <div class="col-6">
                <canvas id="ctxTopAreas3"></canvas>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
{% block script %}
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.tooltips.mode = 'index';
    Chart.defaults.global.tooltips.intersect = false;
    Chart.defaults.global.defaultFontFamily = 'Poppins';
    Chart.defaults.global.defaultFontSize = 13;
    Chart.defaults.global.animation.duration = 3000;

    // CHART 1

    var dbTotal = {{ aeData|safe }} ;
    var dbIrrigated ={{ iData|safe }} ;
    var dbRainfed ={{ rfData|safe }} ;

    let years = [];
    let values_total = [];
    let values_irrig = [];
    let values_rain = [];

    try {
        dbTotal.map((item) => {
            years.push(item.year);
            values_total.push(item.value);
        });
        dbIrrigated.map((item) => {
            values_irrig.push(item.value);
        });
        dbRainfed.map((item) => {
            values_rain.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var areaStack = document.getElementById('ctxAreaStack').getContext('2d');
    var tempALabels = [...years];
    var areaAllData = [...values_total];
    var areaIrrigData = [...values_irrig];
    var areaRainData = [...values_rain];
    var areaStackChart = new Chart(areaStack, {

        type: 'bar',

        data: {
            labels: tempALabels,
            datasets: [{
                    label: 'All ecosystems',
                    backgroundColor: '#007FFE', // COLOR 1
                    borderColor: '#007FFE', // COLOR 1
                    lineTension: 0,
                    type: 'line',
                    fill: false,
                    data: areaAllData,
                },
                {
                    label: 'Irrigated',
                    backgroundColor: '#C45000', // COLOR 2
                    borderColor: '#C45000', // COLOR 2
                    data: areaIrrigData
                },
                {
                    label: 'Non-Irrigated',
                    backgroundColor: '#FFB043', // COLOR 3
                    borderColor: '#FFB043', // COLOR 3
                    data: areaRainData
                }
            ]
        },

        options: {
            aspectRatio: 1.55,
            scales: {
                xAxes: [{
                    stacked: true,
                    display: true,
                    ticks:{
                      fontSize:10,
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: true,
                    ticks: {
                        suggestedMin: 0
                    }
                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
            }
        }
    });

    // CHART 2

    var dbProvs = {{ tpData|safe }};
    let provinces = [];
    let values = [];

    try {
        dbProvs.map((item) => {
            provinces.push(item.location_name);
            values.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var tempPrLabels = [...provinces];
    var topProvData = [...values];

    var topProv = document.getElementById('ctxTopAreas').getContext('2d');
    var topProvChart = new Chart(topProv, {
        // The type of chart we want to create
        type: 'horizontalBar',

        data: {
            labels: tempPrLabels,
            datasets: [{
                label: 'Provincial total harvest areas',
                backgroundColor: '#2138B7', // COLOR 4
                borderColor: '#2138B7', // COLOR 4
                fill: false,
                data: topProvData
            }]
        },

        options: {
            aspectRatio: 0.8,
            scales: {
                xAxes: [{
                    display: false,
                    ticks: {
                        suggestedMax: 400000,
                    },
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }]
            },
            legend: {
                display: false
            },
            tooltips: false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 0,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';

                  this.data.datasets.forEach(function(dataset, i)
                                             {
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      data = parseInt(data).toLocaleString();
                      ctx.fillText(data, bar._model.x + 30 , bar._model.y + 8);
                    });
                  });
                }
            }
        }
    });

    var dbProvs3 = {{ tpData3|safe }};
    let provinces3 = [];
    let values3 = [];

    try {
        dbProvs3.map((item) => {
            provinces3.push(item.location_name);
            values3.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var tempPrLabels3 = [...provinces3];
    var topProvData3 = [...values3];

    var topProv3 = document.getElementById('ctxTopAreas3').getContext('2d');
    var topProvChar3t = new Chart(topProv3, {
        // The type of chart we want to create
        type: 'horizontalBar',

        data: {
            labels: tempPrLabels3,
            datasets: [{
                label: 'Provincial total harvest areas',
                backgroundColor: '#2138B7', // COLOR 4
                borderColor: '#2138B7', // COLOR 4
                fill: false,
                data: topProvData3
            }]
        },

        options: {
            aspectRatio: 0.8,
            scales: {
                xAxes: [{
                    display: false,
                    ticks: {
                        suggestedMax: 400000,
                    },
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }]
            },
            legend: {
                display: false
            },
            tooltips: false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 0,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';

                  this.data.datasets.forEach(function(dataset, i)
                                             {
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      data = parseInt(data).toLocaleString();
                      ctx.fillText(data, bar._model.x + 30 , bar._model.y + 8);
                    });
                  });
                }
            }
        }
    });

    var dbProvs2 = {{ tpData2|safe }};
    let provinces2 = [];
    let values2 = [];

    try {
        dbProvs2.map((item) => {
            provinces2.push(item.location_name);
            values2.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var tempPrLabels2 = [...provinces2];
    var topProvData2 = [...values2];

    var topProv2 = document.getElementById('ctxTopAreas2').getContext('2d');
    var topProvChart2 = new Chart(topProv2, {
        // The type of chart we want to create
        type: 'horizontalBar',

        data: {
            labels: tempPrLabels2,
            datasets: [{
                label: 'Provincial total harvest areas',
                backgroundColor: '#2138B7', // COLOR 4
                borderColor: '#2138B7', // COLOR 4
                fill: false,
                data: topProvData2
            }]
        },

        options: {
            aspectRatio: 1.124,
            scales: {
                xAxes: [{
                    display: false,
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }]
            },
            legend: {
                display: false
            },
            tooltips: false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 0,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';

                  this.data.datasets.forEach(function(dataset, i)
                                             {
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      data = parseInt(data).toLocaleString();
                      ctx.fillText(data, bar._model.x + 30 , bar._model.y + 5);
                    });
                  });
                }
            }
        }
    });
</script>
{% endblock script %}
