{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Body -->
<div class="sublevel container">
    <!-- Header --->
    <div class="jumbotron ">
        <div class="jumbotron-content text-center">
            <h2>State of the Rice Sector in the Philippines</h2>
            <h1>{{ title }}</h1>
            <p class="lead">Total costs, gross and net returns of paddy rice production, 2000-2019</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-deck mb-2 text-center">
                <div class="card primary mb-4 bg-alternate">
                    <div class="card-body">
                        <h5 class="card-title p-2">Gross Returns ({{ gr_year }})</h5>
                        <h2 class="card-text font-weight-bold">PhP {{ gr_price }}<i class="bi bi-caret-down-fill"></i></h2>
                        <div class="card-note w-50 mx-auto rounded-pill bg-primary">
                            <p class="text-white">per hectare</p>
                        </div>
                        <p class="mb-0 text-capitalize">Yield (mt/ha) x Farmgate price (pesos/kg)</p>
                    </div>
                </div>
                <div class="card primary mb-4 bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title p-2">Net Returns ({{ nr_year }})</h5>
                        <h2 class="card-text font-weight-bold">PhP {{ nr_price }}<i class="bi bi-caret-down-fill"></i></h2>
                        <div class="card-note w-50 mx-auto rounded-pill">
                            <p class="text-dark">per hectare</p>
                        </div>
                        <p class="mb-0 text-capitalize">Gross returns - Production Costs (pesos)</p>
                    </div>
                </div>
                <div class="card primary mb-4 bg-alternate">
                    <div class="card-body">
                        <h5 class="card-title p-2">Production Costs ({{ pc_year }})</h5>
                        <h2 class="card-text font-weight-bold">PhP {{ pc_price }}<i class="bi bi-caret-down-fill"></i></h2>
                        <div class="card-note w-50 mx-auto rounded-pill bg-primary">
                            <p class="text-white">per hectare</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="my-0 p-2">Yearly average gross returns on rice production (2000-2019)</h5>
                    <p class="my-0 font-weight-normal text-muted">in Philippine Peso (PhP) (PSA, 2020)</p>
                </div>
                <div class="card-body">
                    <div><canvas id="ctxGrossReturns"></canvas></div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="my-0 p-2">Average costs and net returns on rice production by region (2019)</h5>
                    <p class="my-0 font-weight-normal text-muted">in Philippine Peso (PhP) (PSA, 2020)</p>
                </div>
                <div class="card-body">
                    <div><canvas id="ctxTopRegions"></canvas></div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer --->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">2021. RiceLytics Data Initative.</small>
                <small class="text-muted">Philippine Rice Research Institute.</small>
            </div>
            <div class="col-6 col-md">
                <h5>State of the Rice Sector</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Rice Production</a></li>
                    <li><a class="text-muted" href="#">Area Harvested</a></li>
                    <li><a class="text-muted" href="#">Yield per Hectare</a></li>
                    <li><a class="text-muted" href="#">Supply and Utilization</a></li>
                    <li><a class="text-muted" href="#">Gross Value Added</a></li>
                    <li><a class="text-muted" href="#">Farmer’s Income</a></li>
                    <li><a class="text-muted" href="#">Palay & Rice Prices</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Rice Farmer Characteristics</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Sociodemographics</a></li>
                    <li><a class="text-muted" href="#">Farm Details</a></li>
                    <li><a class="text-muted" href="#">Technology Awareness</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>RCEF Updates</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Inbred Seeds</a></li>
                    <li><a class="text-muted" href="#">Machineries</a></li>
                    <li><a class="text-muted" href="#">Extension</a></li>
                    <li><a class="text-muted" href="#">Credit</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% endblock content %}
{% block script %}
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.tooltips.mode = 'index';
    Chart.defaults.global.tooltips.intersect = false;
    Chart.defaults.global.defaultFontFamily = 'Poppins';
    Chart.defaults.global.defaultFontSize = 13;
    Chart.defaults.global.animation.duration = 3000;

    var dbNetReturns ={{ anrData|safe }};
    let years_net = [];
    let values_net = [];

    try {
        dbNetReturns.map((item) => {
            years_net.push(item.year);
            values_net.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var dbGrossReturns ={{ agrData|safe }};
    let years_gross = [];
    let values_gross = [];

    try {
        dbGrossReturns.map((item) => {
            years_gross.push(item.year);
            values_gross.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var dbCosts = {{ acData|safe }};
    let years_costs = [];
    let values_costs = [];

    try {
        dbCosts.map((item) => {
            years_costs.push(item.year);
            values_costs.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var grossReturns = document.getElementById('ctxGrossReturns').getContext('2d');
    var tempGrossReturns = [...years_gross];
    var grossNetData = [...values_net];
    var grossReturnsData = [...values_gross];
    var costsData = [...values_costs];
    var grossReturnsChart = new Chart(grossReturns, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: tempGrossReturns,
            datasets: [{
                label: 'Average gross returns',
                backgroundColor: '#2E382E', // COLOR 1
                borderColor: '#2E382E', // COLOR 1
                type: 'line',
                lineTension: 0,
                fill: false,
                data: grossReturnsData
            }, {
                label: 'Average costs',
                backgroundColor: '#A6CEE3', // COLOR 2
                borderColor: '#A6CEE3', // COLOR 2
                fill: false,
                data: costsData
            }, {
                label: 'Average net returns',
                backgroundColor: '#2138B7', // COLOR 2
                borderColor: '#2138B7', // COLOR 2
                fill: false,
                data: grossNetData
            }]
        },

        // Configuration options go here
        options: {
            aspectRatio: 2,
            scales: {
                xAxes: [{
                    stacked: true,
                    display: true,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 90000
                    }
                }]
            },
            legend: {
                display: false
            },
            plugins: {
                labels: false
            }
        }
    });


    // CHART 2

    var dbRegs = {{ acnrData|safe }};
    let regions = [];
    let costs = [];
    let netr = [];

    try {
        dbRegs.map((item) => {
            regions.push(item.location_name);
            costs.push(item.costs);
            netr.push(item.net);
        });
    } catch (error) {
        console.log(error);
    }

    var tempRgLabels = [...regions];
    var topCostsData = [...costs];
    var topNetData = [...netr];

    var topReg = document.getElementById('ctxTopRegions').getContext('2d');
    var topRegChart = new Chart(topReg, {
        // The type of chart we want to create
        type: 'horizontalBar',

        data: {
            labels: tempRgLabels,
            datasets: [{
                label: 'Total Costs',
                backgroundColor: '#A6CEE3', // COLOR 4
                borderColor: '#A6CEE3', // COLOR 4
                fill: false,
                data: topCostsData
            }, {
                label: 'Net Returns',
                backgroundColor: '#2138B7', // COLOR 2
                borderColor: '# 2138B7', // COLOR 2
                data: topNetData
            }]
        },

        options: {
            aspectRatio: 1.2,
            scales: {
                xAxes: [{
                    stacked: true,
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 90000
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: true,
                    ticks: {
                        suggestedMin: 0
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }]
            },
            legend: {
                position: 'bottom'
            }
        }
    });

</script>
{% endblock script %}
