{% extends 'main.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
<!-- Body -->
<div class="container">
    <!-- Header --->
    <div id="main" class="jumbotron">
        <div class="jumbotron-content text-center">
            <h2>{{ title }}</h2>
            <h1>Philippines</h1>
            <p>Explore the status of the rice industry in terms of production, area, yield, <br /> income, total use of rice, imports, per capita rice consumption, and prices.</p>
            <div class="w-25 mx-auto rounded-pill bg-light">
                <h6 class="text-dark p-2">Population: <strong>108.8 MILLION</strong> (PSA, 2021)</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-deck mb-2 text-center text-white">
                <div class="card secondary mb-4 bg-primary">
                    <div class="card-body">
                        <h4 class="card-title text-left"><a href="{% url 'RiceProductions' %}" class="text-white stretched-link text-decoration-none">Palay Production ({{ rp_year }})</a></h4>
                        <h1 class="card-text font-weight-semibold">{{ rp_value}} {% if rp_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif rp_compare < 0 %} <i class="bi bi-caret-down-fill"></i> {% else %}<i class="bi bi-dash"></i>{%endif%}</h1>
                        <div class="card-note w-50 mx-auto rounded-pill bg-warning">
                            <h5 class="text-white">MILLION TONS</h5>
                        </div>
                    </div>
                </div>
                <div class="card secondary mb-4 bg-primary">
                    <div class="card-body">
                        <h4 class="card-title text-left"><a href="{% url 'HarvestAreas' %}" class="text-white stretched-link text-decoration-none">Area Harvested ({{ ah_year }})</a></h4>
                        <h1 class="card-text font-weight-semibold">{{ ah_value }} {% if ah_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif ah_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h1>
                        <div class="card-note w-50 mx-auto rounded-pill bg-warning">
                            <h5 class="text-white">MILLION HECTARES</h5>
                        </div>
                    </div>
                </div>
                <div class="card secondary mb-4 bg-primary">
                    <div class="card-body">
                        <h4 class="card-title text-left"><a href="{% url 'EstYields' %}" class="text-white stretched-link text-decoration-none">Yield per Hectare ({{ yph_year }})</a></h4>
                        <h1 class="card-text font-weight-semibold">{{ yph_value }} {% if yph_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif yph_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h1>
                        <div class="card-note w-50 mx-auto rounded-pill bg-warning">
                            <h5 class="text-white">TONS PER HECTARE</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-4">
                    <div class="card-group mb-2">
                        <div class="card secondary text-center border-top-0 border-left-0 border-bottom-0 pt-2 pl-2 bg-light">
                          <h6 class="text-left"><a href="{% url 'SupplyUtilization' %}" class="text-black stretched-link text-decoration-none">Total Supply</a></h6>
                          <h2>{{ supply_value }} {% if supply_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif supply_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h2>
                          <p>MILLION TONS</p>
                        </div>
                        <div class="card secondary text-center pt-2 pl-2 border-top-0 border-right-0 border-bottom-0 bg-light">
                          <h6 class=" text-left"><a href="{% url 'SupplyUtilization' %}" class="text-black stretched-link text-decoration-none">Total Utilization</a></h6>
                          <h2>{{ utilization_value }} {% if utilization_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif utilization_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h2>
                          <p>MILLION TONS</p>
                        </div>
                    </div>
                    <div class="card-group mb-2">
                        <div class="card secondary mb-0 text-center border-top-0 border-left-0 border-bottom-0 pt-2 pl-2 bg-light">
                          <h6 class="card-title text-left"><a href="{% url 'Consumption' %}" class="text-black stretched-link text-decoration-none">Annual Consumption</a></h6>
                          <h2 class="card-text">{{ lp_value }}{% if lp_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif lp_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h2>
                          <p>MILLION TONS</p>
                        </div>
                        <div class="card secondary mb-0 text-center pt-2 pl-2 border-top-0 border-right-0 border-bottom-0 bg-light">
                          <h6 class="card-title text-left"><a href="{% url 'Consumption' %}" class="text-black stretched-link text-decoration-none">Daily Consumption</a></h6>
                          <h2 class="card-text">{{ nf_value }}{% if nf_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif nf_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h2>
                          <p>MILLION TONS</p>
                        </div>
                    </div>
                    <div class="card-group">
                        <div class="card secondary text-center border-top-0 border-left-0 border-bottom-0 pt-2 pl-2 bg-light">
                          <h6 class="card-title text-left"><a href="{% url 'ImportExport' %}" class="text-black stretched-link text-decoration-none">Imported</a></h6>
                          <h2 class="card-text">{{ import_value }}{% if import_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif import_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h2>
                          <p>MILLION TONS</p>
                        </div>
                        <div class="card secondary text-center pt-2 pl-2 border-top-0 border-right-0 border-bottom-0 bg-light">
                          <h6 class="card-title text-left"><a href="{% url 'ImportExport' %}" class="text-black stretched-link text-decoration-none">Exported</a></h6>
                          <h2 class="card-text">&lt; {% if export_value >= 0 %} 1{% else %} {{ export_value }} {% endif %} {% if export_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif export_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h2>
                          <p>MILLION TONS</p>
                        </div>
                    </div>
                    <div class="card secondary text-center mt-2 border-0 bg-light">
                          <div class="card-body">
                            <h6 class="card-title text-center"><a href="{% url 'Prices' %}" class="text-black stretched-link text-decoration-none">Palay Farmgate Price (Dry) per Kilogram</a></h6>
                            <h2 class="card-text">₱ {{ farmgate_value }}{% if farmgate_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif farmgate_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h2>
                        </div>
                    </div>
                    <div class="card secondary mb-0 pt-3 text-center border-0 bg-light">
                      <h6 class="text-center">Wholesale Price per Kilogram</h6>
                    </div>
                    <div class="card-group">
                      <div class="card secondary mb-0 pb-2 text-center border-top-0 border-left-0 border-bottom-0 pt-2 pl-2 bg-light">
                        <p><a href="{% url 'Prices' %}" class="text-black stretched-link text-decoration-none">Well-Milled Rice</a></p>
                        <h2 class="card-text">₱ {{ wholesaleSp_value }}{% if wholesaleSp_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif wholesaleSp_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h2>
                      </div>
                      <div class="card secondary mb-0 pb-2 text-center border-top-0 border-right-0 border-bottom-0 pt-2 pl-2 bg-light">
                        <p><a href="{% url 'Prices' %}" class="text-black stretched-link text-decoration-none">Regular-Milled Rice</a></p>
                        <h2 class="card-text">₱ {{ wholesale_value }}{% if wholesale_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif wholesale_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h2>
                      </div>
                    </div>
                    <div class="card secondary mb-0 pt-3 text-center border-0 bg-light">
                      <h6 class="text-center">Retail Price per Kilogram</h6>
                    </div>
                    <div class="card-group">
                      <div class="card secondary mb-0 pb-2 text-center border-top-0 border-left-0 border-bottom-0 pt-2 pl-2 bg-light">
                        <p class="card-title"><a href="{% url 'Prices' %}" class="text-black stretched-link text-decoration-none">Well-Milled Rice</a></p>
                        <h2 class="card-text">₱ {{ retailSp_value }}{% if retailSp_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif retailSp_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h2>
                      </div>
                      <div class="card secondary mb-0 pb-2 text-center border-top-0 border-right-0 border-bottom-0 pt-2 pl-2 bg-light">
                        <p class="card-title"><a href="{% url 'Prices' %}" class="text-black stretched-link text-decoration-none">Regular-Milled Rice</a></p>
                        <h2 class="card-text">₱ {{ retail_value }}{% if retail_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif retail_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h2>
                      </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            <div class="col-12 p-0 ">
                                <div class="card secondary text-center pt-2 border-0 bg-light">
                                  <h6 class="card-title "><a href="{% url 'Valuations' %}" class="text-black stretched-link text-decoration-none">Rice Production Gross Value Added</a></h6>
                                  <h2 class="card-text">₱{{ gva_value }}{% if gva_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif gva_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h2>
                                  <p>BILLION</p>
                                </div>
                            </div>
                            <div class="col-12 p-0">
                                <div class="card-group">
                                    <div class="card secondary text-center border-top-0 border-left-0 border-bottom-0 pt-2 pl-2 bg-light">
                                      <h6 class="text-center mb-0"><a href="{% url 'Valuations' %}" class="text-black stretched-link text-decoration-none">Share to Agricultural GVA</a></h6>
                                      <div class="card-body py-1"><canvas id="ctxAgriShare"></canvas></div>
                                      <!--<h2 class="card-text">20.7%<i class="bi bi-caret-up-fill"></i></h2>-->
                                    </div>
                                    <div class="card secondary text-center border-top-0 border-right-0 border-bottom-0 pt-2 pl-2 bg-light">
                                      <h6 class="text-center mb-0"><a href="{% url 'Valuations' %}" class="text-black stretched-link text-decoration-none">Share to National &nbsp; GDP </a></h6>
                                      <div class="card-body py-1"><canvas id="ctxNationalShare"></canvas></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-12 p-0">
                                <div class="card secondary text-center border-0 bg-light mb-2">
                                    <div class="px-3 pt-2 pb-1">
                                        <h6 class="card-title text-center"><a href="{% url 'Incomes' %}" class="text-black stretched-link text-decoration-none">Farmer's Net Income</a></h6>
                                        <h2 class="card-text">₱{{ nr_value }}{% if nr_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif nr_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h2>
                                        <p>PER HECTARE</p>
                                        <hr>
                                        <div class="row py-2">
                                          <div class="col-3">
                                            <h6 class="text-left text-nowrap pt-1"><a href="{% url 'Incomes' %}" class="text-black stretched-link text-decoration-none">Gross Income</a></h6>
                                          </div>
                                          <div class="col-5">
                                            <h3 class="text-center">₱{{ gr_value }}{% if gr_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif gr_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h3>
                                          </div>
                                          <div class="col-4 pt-1">
                                            <p>PER HECTARE</p>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-0">
                                <div class="card secondary border-0 bg-light pt-3 pb-2">
                                    <div class="px-3 row">
                                      <div class="col-4">
                                        <h6 class="text-nowrap pt-2"><a href="{% url 'YieldCost' %}" class="text-black stretched-link text-decoration-none">Cost of Production</a></h6>
                                      </div>
                                      <div class="col-4">
                                        <h3 class="text-center">₱ {{ uc_value }}{% if uc_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif uc_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h3>
                                      </div>
                                      <div class="col-4 pt-2">
                                        <p class="text-left">PER KILOGRAM</p>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <h6 class="mt-3 mb-1"><a href="productions">Top 10 Rice Producing Provinces</a></h6>
                            <p>million metric tons (PSA, 2020)</p>
                            <div class="card mb-0">
                                <div class="card-body text-center">
                                    <div><canvas id="ctxTopProv"></canvas></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-0">
                <img class="card-img-top" src="{% static 'assets/prism_sample.jpg' %}" alt="Card image cap">
            </div>
            <div class="card-footer bg-primary text-white text-center">PRISM Rice Area</div>
        </div>
    </div>


    <!-- Footer --->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">2021. RiceLytics Data Initative.</small>
                <small class="text-muted">Philippine Rice Research Institute.</small>
            </div>
            <div class="col-6 col-md">
                <h5>State of the Rice Sector</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Rice Production</a></li>
                    <li><a class="text-muted" href="#">Area Harvested</a></li>
                    <li><a class="text-muted" href="#">Yield per Hectare</a></li>
                    <li><a class="text-muted" href="#">Supply and Utilization</a></li>
                    <li><a class="text-muted" href="#">Gross Value Added</a></li>
                    <li><a class="text-muted" href="#">Farmer’s Income</a></li>
                    <li><a class="text-muted" href="#">Palay & Rice Prices</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Rice Farmer Characteristics</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Sociodemographics</a></li>
                    <li><a class="text-muted" href="#">Farm Details</a></li>
                    <li><a class="text-muted" href="#">Technology Awareness</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>RCEF Updates</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Inbred Seeds</a></li>
                    <li><a class="text-muted" href="#">Machineries</a></li>
                    <li><a class="text-muted" href="#">Extension</a></li>
                    <li><a class="text-muted" href="#">Credit</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% endblock content %}
{% block script %}
<script>
    Chart.pluginService.register({
        beforeDraw: function(chart) {
            if (chart.config.options.elements.center) {
                // Get ctx from string
                var ctx = chart.chart.ctx;

                // Get options from the center object in options
                var centerConfig = chart.config.options.elements.center;
                var fontStyle = centerConfig.fontStyle || 'Arial';
                var txt = centerConfig.text;
                var color = centerConfig.color || '#000';
                var maxFontSize = centerConfig.maxFontSize || 75;
                var sidePadding = centerConfig.sidePadding || 20;
                var sidePaddingCalculated = (sidePadding / 100) * (chart.innerRadius * 2)
                // Start with a base font of 30px
                ctx.font = "30px " + fontStyle;

                // Get the width of the string and also the width of the element minus 10 to give it 5px side padding
                var stringWidth = ctx.measureText(txt).width;
                var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

                // Find out how much the font can grow in width.
                var widthRatio = elementWidth / stringWidth;
                var newFontSize = Math.floor(30 * widthRatio);
                var elementHeight = (chart.innerRadius * 2);

                // Pick a new font size so it will not be larger than the height of label.
                var fontSizeToUse = Math.min(newFontSize, elementHeight, maxFontSize);
                var minFontSize = centerConfig.minFontSize;
                var lineHeight = centerConfig.lineHeight || 25;
                var wrapText = false;

                if (minFontSize === undefined) {
                    minFontSize = 20;
                }

                if (minFontSize && fontSizeToUse < minFontSize) {
                    fontSizeToUse = minFontSize;
                    wrapText = true;
                }

                // Set font settings to draw it correctly.
                ctx.textAlign = 'center';
                ctx.textBaseline = 'middle';
                var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
                var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
                ctx.font = fontSizeToUse + "px " + fontStyle;
                ctx.fillStyle = color;

                if (!wrapText) {
                    ctx.fillText(txt, centerX, centerY);
                    return;
                }

                var words = txt.split(' ');
                var line = '';
                var lines = [];

                // Break words up into multiple lines if necessary
                for (var n = 0; n < words.length; n++) {
                    var testLine = line + words[n] + ' ';
                    var metrics = ctx.measureText(testLine);
                    var testWidth = metrics.width;
                    if (testWidth > elementWidth && n > 0) {
                        lines.push(line);
                        line = words[n] + ' ';
                    } else {
                        line = testLine;
                    }
                }

                // Move the center up depending on line height and number of lines
                centerY -= (lines.length / 2) * lineHeight;

                for (var n = 0; n < lines.length; n++) {
                    ctx.fillText(lines[n], centerX, centerY);
                    centerY += lineHeight;
                }
                //Draw text in center
                ctx.fillText(line, centerX, centerY);
            }
        }
    });

    Chart.defaults.global.responsive = true;
    Chart.defaults.global.tooltips.mode = 'index';
    Chart.defaults.global.tooltips.intersect = false;
    Chart.defaults.global.defaultFontFamily = 'Poppins';
    Chart.defaults.global.defaultFontSize = 12;
    Chart.defaults.global.animation.duration = 3000;

    // CHART 1

    var dbProvs = JSON.parse('[{"location_name":"Nueva Ecija","year":"2020","value":"1.90"},{"location_name":"Isabela","year":"2020","value":"1.36"},{"location_name":"Pangasinan","year":"2020","value":"1.14"},{"location_name":"Iloilo","year":"2020","value":"0.99"},{"location_name":"Cagayan","year":"2020","value":"0.92"},{"location_name":"Camarines Sur","year":"2020","value":"0.65"},{"location_name":"Tarlac","year":"2020","value":"0.57"},{"location_name":"North Cotabato","year":"2020","value":"0.52"},{"location_name":"Maguindanao","year":"2020","value":"0.51"},{"location_name":"Negros Occidental","year":"2020","value":"0.49"}]');

    let provinces = [];
    let values = [];

    try {
        dbProvs.map((item) => {
            provinces.push(item.location_name);
            values.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var tempPrLabels = [...provinces];
    var topProvData = [...values];

    var topProv = document.getElementById('ctxTopProv').getContext('2d');
    var topProvChart = new Chart(topProv, {
        // The type of chart we want to create
        type: 'horizontalBar',

        data: {
            labels: tempPrLabels,
            datasets: [{
                label: 'Provincial total production',
                backgroundColor: '#2138B7', // COLOR 4
                borderColor: '#2138B7', // COLOR 4
                fill: false,
                data: topProvData
            }]
        },

        options: {
            aspectRatio: 2.5,
            scales: {
                xAxes: [{
                    display: true,
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }]
            },
            legend: {
                display: false
            }
        }
    });

    // CHART 2

    var ctx = document.getElementById("ctxAgriShare");
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            datasets: [{
                data: [{{100|sub:gvashare_value}}, {{ gvashare_value }}],
                backgroundColor: [
                    '#A6CEE3', // COLOR 1
                    '#2138B7' // COLOR 2
                ],
                borderColor: [
                    '#A6CEE3', // COLOR 1
                    '#2138B7' // COLOR 2
                ]
            }]
        },
        options: {
            cutoutPercentage: 60,
            aspectRatio: 1.1,
            legend: {
                display: false
            },
            layout: {
                padding: 10
            },
            responsive: true,
            maintainAspectRatio: true,
            plugins: {
                labels: false
            },
            elements: {
                center: {
                    text: '{{ gvashare_value }}%',
                    color: '#212529', // Default is #000000
                    fontStyle: 'Poppins', // Default is Arial
                    sidePadding: 20, // Default is 20 (as a percentage)
                    minFontSize: 12, // Default is 20 (in px), set to false and text will not wrap.
                    lineHeight: 25 // Default is 25 (in px), used for when text wraps
                }
            }
        }
    });

    // CHART 3

    var ctx2 = document.getElementById("ctxNationalShare");
    var myChart2 = new Chart(ctx2, {
        type: 'pie',
        data: {
            datasets: [{
                data: [{{100|sub:gdpshare_value}}, {{ gdpshare_value }}],
                backgroundColor: [
                    '#A6CEE3', // COLOR 1
                    '#2138B7' // COLOR 2
                ],
                borderColor: [
                    '#A6CEE3', // COLOR 1
                    '#2138B7' // COLOR 2
                ]
            }]
        },
        options: {
            cutoutPercentage: 60,
            aspectRatio: 1.1,
            legend: {
                display: false
            },
            layout: {
                padding: 10
            },
            responsive: true,
            maintainAspectRatio: true,
            plugins: {
                labels: false
            },
            elements: {
                center: {
                    text: '{{ gdpshare_value }}%',
                    color: '#212529', // Default is #000000
                    fontStyle: 'Poppins', // Default is Arial
                    sidePadding: 20, // Default is 20 (as a percentage)
                    minFontSize: 12, // Default is 20 (in px), set to false and text will not wrap.
                    lineHeight: 25 // Default is 25 (in px), used for when text wraps
                }
            }
        }
    });

</script>

{% endblock script %}
