<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="Main Page">
    <link href="{% static 'css/bootstrap-reboot.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- Navigation --->
    <div class="menu-bar">
      <div class="back-button text-center">
        <a class="btn btn-lg text-white" role="button"><i class="bi bi-list"></i></a>
      </div>
      <div class="show-content">
        <a class="btn btn-lg text-white" role="button" href="javascript:history.back()"><i class="bi bi-chevron-left"></i></a>
        <img class="pt-4 pd-4"src="{% static 'assets/Ricelytics Logo - White Orange.png' %}" alt="">
        <div class="ml-4 mr-4 mt-5 pb-4">
          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="text-center">
          <a class="text-decoration-none" href="{% url 'HomePage' %}">
          <div class="menu-bar-title pb-4 pt-4 ">
              <h2 class="{{riceindustry}}">RICE INDUSTRY</h2>
          </div>
          </a>
          <a class="text-decoration-none" href="{% url 'Profile' %}">
          <div class="menu-bar-title pb-4 pt-4 ">
            <h2 class="{{ricefarmer}}">RICE FARMER</h2>
          </div>
        </a>
          <div class="menu-bar-title pb-4 pt-4 ">
            <h2 class="{{casestudies}}">CASE STUDIES</h2>
          </div>
        </div>
        <br><br><br>
        <div class="menu-bar-contact mt-5 ml-3 pl-4">
          <h5 class="active-title">Contact Us</h5>
          <div class="row">
            <div class="col-7 text-white">
              <i class="bi bi-facebook"></i><span class="p-small">&nbsp; &nbsp;/PhilRice RiceLytics </span>
              <br><br>
              <i class="bi bi-envelope-fill"></i><span class="p-small">&nbsp; &nbsp;ricelytics@philrice.gov.ph</span>
            </div>
            <div class="col-5 text-white">
              <i class="bi bi-twitter"></i><span class="p-small">&nbsp; &nbsp;@RiceLytics</span>
              <br><br>
              <i class="bi bi-telephone-fill"></i> <span class="p-small">&nbsp; &nbsp;0917-111-7423</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if searchbartype == '1'%}
    <nav class="nav navbar navbar-expand-lg navbar-light justify-content-between">
      <div class="row">
        <a class="btn btn-warning ml-3 text-white" href="{% url 'HomePage' %}" role="button"><i class="bi bi-house-fill"></i> National</a>
        <div class="dropdown ml-4 mr-4">
            <button class="btn btn-light border dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Region
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <button class="dropdown-item" type="button">Region</button>
                <button class="dropdown-item" type="button">Region</button>
                <button class="dropdown-item" type="button">Region</button>
            </div>
        </div>
        <div class="dropdown mr-4">
            <button class="btn btn-light border dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Province
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Province</button>
                <button class="dropdown-item" type="button">Province</button>
                <button class="dropdown-item" type="button">Province</button>
            </div>
        </div>
        <a class="btn btn-info rounded-pill mr-4" href="{% url 'Regional' %}" role="button">Get Data</a>
        <a class="btn border-info rounded-pill btn-light mr-4 text-info" href="#" role="button">Clear Filter</a>
      </div>
      <div>
        <a class="btn" href="#"><i class="bi bi-box-arrow-in-down"></i></a>
        <a class="btn" href="#" onclick="pdf()"><i class="bi bi-printer-fill"></i>  </ion-icon></a>
      </div>
    </nav>
    {% elif searchbartype == '2' %}
    <nav class="nav navbar navbar-expand-lg navbar-light justify-content-between">
      <div class="row">
        <a class="btn btn-warning ml-3 text-white" href="{% url 'Profile' %}" role="button"><i class="bi bi-house-fill"></i> National</a>
        <div class="dropdown ml-4 mr-4">
            <button class="btn btn-light border dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Region
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <button class="dropdown-item" type="button">Region</button>
                <button class="dropdown-item" type="button">Region</button>
                <button class="dropdown-item" type="button">Region</button>
            </div>
        </div>
        <div class="dropdown mr-4">
            <button class="btn btn-light border dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Province
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Province</button>
                <button class="dropdown-item" type="button">Province</button>
                <button class="dropdown-item" type="button">Province</button>
            </div>
        </div>
        <a class="btn btn-info rounded-pill mr-4" href="{% url 'RegionProfile' %}" role="button">Get Data</a>
        <a class="btn border-info rounded-pill btn-light mr-4 text-info" href="#" role="button">Clear Filter</a>
      </div>
      <div>
        <a class="btn" href="#"><i class="bi bi-box-arrow-in-down"></i></a>
        <a class="btn" onclick="pdf()" href="#"><i class="bi bi-printer-fill"></i>  </ion-icon></a>
      </div>
    </nav>
    {% else %}
    <!-- Navigation --->
    <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
      <div>
        <a class="btn btn-warning mr-2 text-white" href="javascript:history.back()" role="button"><i class="bi bi-caret-left"></i> Back to Main</a>
      </div>
      <div>
        <a class="btn" href="#"><i class="bi bi-box-arrow-in-down"></i></a>
        <a class="btn" onclick="pdf()" href="#"><i class="bi bi-printer-fill"></i>  </ion-icon></a>
      </div>
    </nav>
    {% endif %}
    <!-- Body -->
    <div class="container">
    <div class="loader" style="display: none;"></div>
    {% block content %}

    {% endblock %}
    <!-- Footer --->
    <footer class="pt-2 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block text-muted">2021. RiceLytics Data Initative.</small>
                <small class="text-muted">Philippine Rice Research Institute.</small>
            </div>
            <div class="col-6 col-md">
                <!-- <h5>State of the Rice Sector</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Rice Production</a></li>
                    <li><a class="text-muted" href="#">Area Harvested</a></li>
                    <li><a class="text-muted" href="#">Yield per Hectare</a></li>
                    <li><a class="text-muted" href="#">Supply and Utilization</a></li>
                    <li><a class="text-muted" href="#">Gross Value Added</a></li>
                    <li><a class="text-muted" href="#">Farmer’s Income</a></li>
                    <li><a class="text-muted" href="#">Palay & Rice Prices</a></li>
                </ul> -->
            </div>
            <div class="col-6 col-md">
                <!-- <h5>Rice Farmer Characteristics</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Sociodemographics</a></li>
                    <li><a class="text-muted" href="#">Farm Details</a></li>
                    <li><a class="text-muted" href="#">Technology Awareness</a></li>
                </ul> -->
            </div>
            <div class="col-6 col-md">
                <!-- <h5>RCEF Updates</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Inbred Seeds</a></li>
                    <li><a class="text-muted" href="#">Machineries</a></li>
                    <li><a class="text-muted" href="#">Extension</a></li>
                    <li><a class="text-muted" href="#">Credit</a></li>
                </ul> -->
            </div>
        </div>
    </footer>
    </div><!-- closing tag for the container  -->
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jspdf.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/html2canvas.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/chartjs-plugin-labels.min.js' %}"></script> -->
    {% block script %}

    {% endblock%}
    <script type="text/javascript">
      function pdf(){
        const fileName = String(new Date().valueOf());
            const element = document.querySelector('.container');
            const loader = document.querySelector('.loader')
            const regionCanvas = element.getBoundingClientRect();
            loader.style.display = 'block';
            html2canvas(element, { scale: 3 }).then(async canvas => {
                const pdf = new jsPDF('l', 'mm', 'a4');
                pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 3, 3, 291, (291 / regionCanvas.width) * regionCanvas.height);
                await window.open(pdf.output('bloburl', { filename: fileName }), '_blank');
                loader.style.display = 'none';
                // await pdf.save(fileName, { returnPromise: true });
            });
          }
    </script>
  </body>
</html>
