<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sex</title>
    <meta name="description" content="Production Charts">
    <link href="css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- Navigation --->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="btn btn-secondary mr-2 text-white" href="profile.html" role="button"><i class="bi bi-list"></i></a>
        <a class="btn btn-warning mr-2 text-white" href="profile.html" role="button"><i class="bi bi-caret-left"></i> Back to Main</a>
    </nav>

    <!-- Header --->
    <div class="jumbotron text-center">
        <div class="jumbotron-content">
            <h2>Profile of the Filipino Rice Farmer</h2>
            <h1>Sex</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br />incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>

    <!-- Body -->
    <div class="sublevel farmer container">
        <div class="row">
            <div class="col">
                <div class="card-deck mb-2 text-center">
                    <div class="card primary mb-4 bg-alternate-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title">Irrigated Areas</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 border-right">
                                    <h1 class="card-text font-weight-bold">83%<i class="bi bi-caret-down-fill"></i></h1>
                                    <div class="card-note w-50 mx-auto rounded-pill bg-primary">
                                        <p class="text-white">Male</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h1 class="card-text font-weight-bold">17%<i class="bi bi-caret-up-fill"></i></h1>
                                    <div class="card-note w-50 mx-auto rounded-pill bg-primary">
                                        <p class="text-white">Female</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card primary mb-4 bg-primary-2 text-white">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title">Overall (2017)</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 border-right">
                                    <h1 class="card-text font-weight-bold">82%<i class="bi bi-caret-down-fill"></i></h1>
                                    <div class="card-note w-50 mx-auto rounded-pill">
                                        <p class="text-white">Male</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h1 class="card-text font-weight-bold">18%<i class="bi bi-caret-up-fill"></i></h1>
                                    <div class="card-note w-50 mx-auto rounded-pill">
                                        <p class="text-white">Female</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card primary mb-4 bg-alternate-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title">Non-Irrigated Areas</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 border-right">
                                    <h1 class="card-text font-weight-bold">80%<i class="bi bi-caret-down-fill"></i></h1>
                                    <div class="card-note w-50 mx-auto rounded-pill bg-primary">
                                        <p class="text-white">Male</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h1 class="card-text font-weight-bold">20%<i class="bi bi-caret-up-fill"></i></h1>
                                    <div class="card-note w-50 mx-auto rounded-pill bg-primary">
                                        <p class="text-white">Female</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header text-center">
                        <h5 class="my-0 p-2">Distribution of rice farmers, by sex (1997-2017)</h5>
                        <p class="my-0 font-weight-normal text-muted">in percentage (RBFHS, PhilRice-SED, 2019)</p>
                    </div>
                    <div class="card-body">
                        <div><canvas id="ctxMaleFemale"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header text-center">
                        <h5 class="my-0 p-2">Distribution of rice farmers by sex, by province (2017)</h5>
                        <p class="my-0 font-weight-normal text-muted">in percentage (RBFHS, PhilRice-SED, 2019)</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="align-middle" scope="col" rowspan="2">Region/Province</th>
                                    <th class="text-center" scope="col" colspan="2">Overall</th>
                                    <th class="text-center" scope="col" colspan="2">Irrigated</th>
                                    <th class="text-center" scope="col" colspan="2">Rainfed</th>
                                </tr>
                                <tr>
                                    <th scope="col">Male (%)</th>
                                    <th scope="col">Female (%)</th>
                                    <th scope="col">Male (%)</th>
                                    <th scope="col">Female (%)</th>
                                    <th scope="col">Male (%)</th>
                                    <th scope="col">Female (%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">Ilocos Region</td>
                                </tr>
                                <tr>
                                    <td>Ilocos Norte</td>
                                    <td>98</td>
                                    <td>2</td>
                                    <td>98</td>
                                    <td>2</td>
                                    <td>100</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Pangasinan</td>
                                    <td>87</td>
                                    <td>13</td>
                                    <td>87</td>
                                    <td>13</td>
                                    <td>93</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">CAR</td>
                                </tr>
                                <tr>
                                    <td>Apayao</td>
                                    <td>92</td>
                                    <td>8</td>
                                    <td>91</td>
                                    <td>9</td>
                                    <td>100</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Kalinga</td>
                                    <td>90</td>
                                    <td>10</td>
                                    <td>92</td>
                                    <td>8</td>
                                    <td>75</td>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">Cagayan Valley</td>
                                </tr>
                                <tr>
                                    <td>Cagayan</td>
                                    <td>90</td>
                                    <td>10</td>
                                    <td>89</td>
                                    <td>11</td>
                                    <td>93</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Isabela</td>
                                    <td>91</td>
                                    <td>9</td>
                                    <td>91</td>
                                    <td>9</td>
                                    <td>83</td>
                                    <td>17</td>
                                </tr>
                                <tr>
                                    <td>Nueva Vizcaya</td>
                                    <td>90</td>
                                    <td>10</td>
                                    <td>89</td>
                                    <td>11</td>
                                    <td>100</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">Central Luzon</td>
                                </tr>
                                <tr>
                                    <td>Aurora</td>
                                    <td>88</td>
                                    <td>12</td>
                                    <td>88</td>
                                    <td>12</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Bulacan</td>
                                    <td>86</td>
                                    <td>14</td>
                                    <td>90</td>
                                    <td>10</td>
                                    <td>78</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td>Nueva Ecija</td>
                                    <td>87</td>
                                    <td>13</td>
                                    <td>88</td>
                                    <td>12</td>
                                    <td>83</td>
                                    <td>17</td>
                                </tr>
                                <tr>
                                    <td>Pampanga</td>
                                    <td>88</td>
                                    <td>12</td>
                                    <td>88</td>
                                    <td>12</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Tarlac</td>
                                    <td>92</td>
                                    <td>8</td>
                                    <td>91</td>
                                    <td>9</td>
                                    <td>100</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">CALABARZON</td>
                                </tr>
                                <tr>
                                    <td>Laguna</td>
                                    <td>85</td>
                                    <td>15</td>
                                    <td>83</td>
                                    <td>17</td>
                                    <td>92</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>Quezon</td>
                                    <td>82</td>
                                    <td>18</td>
                                    <td>87</td>
                                    <td>13</td>
                                    <td>71</td>
                                    <td>29</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">MIMAROPA</td>
                                </tr>
                                <tr>
                                    <td>Occidental Mindoro</td>
                                    <td>88</td>
                                    <td>12</td>
                                    <td>86</td>
                                    <td>14</td>
                                    <td>100</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Oriental Mindoro</td>
                                    <td>77</td>
                                    <td>23</td>
                                    <td>76</td>
                                    <td>24</td>
                                    <td>82</td>
                                    <td>18</td>
                                </tr>
                                <tr>
                                    <td>Palawan</td>
                                    <td>95</td>
                                    <td>5</td>
                                    <td>92</td>
                                    <td>8</td>
                                    <td>100</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">Bicol Region</td>
                                </tr>
                                <tr>
                                    <td>Albay</td>
                                    <td>85</td>
                                    <td>15</td>
                                    <td>84</td>
                                    <td>16</td>
                                    <td>89</td>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <td>Camarines Sur</td>
                                    <td>78</td>
                                    <td>22</td>
                                    <td>80</td>
                                    <td>20</td>
                                    <td>71</td>
                                    <td>29</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">Western Visayas</td>
                                </tr>
                                <tr>
                                    <td>Antique</td>
                                    <td>53</td>
                                    <td>47</td>
                                    <td>57</td>
                                    <td>43</td>
                                    <td>48</td>
                                    <td>52</td>
                                </tr>
                                <tr>
                                    <td>Capiz</td>
                                    <td>60</td>
                                    <td>40</td>
                                    <td>55</td>
                                    <td>45</td>
                                    <td>72</td>
                                    <td>28</td>
                                </tr>
                                <tr>
                                    <td>Iloilo</td>
                                    <td>79</td>
                                    <td>21</td>
                                    <td>79</td>
                                    <td>21</td>
                                    <td>80</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>Negros Occidental</td>
                                    <td>62</td>
                                    <td>38</td>
                                    <td>61</td>
                                    <td>39</td>
                                    <td>65</td>
                                    <td>35</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">Central Visayas</td>
                                </tr>
                                <tr>
                                    <td>Bohol</td>
                                    <td>87</td>
                                    <td>13</td>
                                    <td>87</td>
                                    <td>13</td>
                                    <td>88</td>
                                    <td>13</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">Eastern Visayas</td>
                                </tr>
                                <tr>
                                    <td>Leyte</td>
                                    <td>84</td>
                                    <td>16</td>
                                    <td>84</td>
                                    <td>16</td>
                                    <td>82</td>
                                    <td>18</td>
                                </tr>
                                <tr>
                                    <td>Northern Samar</td>
                                    <td>90</td>
                                    <td>10</td>
                                    <td>92</td>
                                    <td>8</td>
                                    <td>89</td>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <td>Western Samar</td>
                                    <td>60</td>
                                    <td>40</td>
                                    <td>58</td>
                                    <td>42</td>
                                    <td>63</td>
                                    <td>38</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">Zamboanga Peninsula</td>
                                </tr>
                                <tr>
                                    <td>Zamboanga del Norte</td>
                                    <td>82</td>
                                    <td>18</td>
                                    <td>78</td>
                                    <td>22</td>
                                    <td>88</td>
                                    <td>13</td>
                                </tr>
                                <tr>
                                    <td>Zamboanga del Sur</td>
                                    <td>77</td>
                                    <td>23</td>
                                    <td>77</td>
                                    <td>23</td>
                                    <td>75</td>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <td>Zamboanga Sibugay</td>
                                    <td>70</td>
                                    <td>30</td>
                                    <td>78</td>
                                    <td>22</td>
                                    <td>65</td>
                                    <td>35</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">Northern Mindanao</td>
                                </tr>
                                <tr>
                                    <td>Bukidnon</td>
                                    <td>83</td>
                                    <td>17</td>
                                    <td>83</td>
                                    <td>17</td>
                                    <td>83</td>
                                    <td>17</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">Davao Region</td>
                                </tr>
                                <tr>
                                    <td>Davao de Oro</td>
                                    <td>70</td>
                                    <td>30</td>
                                    <td>70</td>
                                    <td>30</td>
                                    <td>70</td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <td>Davao del Norte</td>
                                    <td>78</td>
                                    <td>22</td>
                                    <td>82</td>
                                    <td>18</td>
                                    <td>73</td>
                                    <td>27</td>
                                </tr>
                                <tr>
                                    <td>Davao del Sur</td>
                                    <td>87</td>
                                    <td>13</td>
                                    <td>87</td>
                                    <td>13</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Davao Oriental</td>
                                    <td>77</td>
                                    <td>23</td>
                                    <td>77</td>
                                    <td>23</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">SOCCSKSARGEN</td>
                                </tr>
                                <tr>
                                    <td>North Cotabato</td>
                                    <td>84</td>
                                    <td>16</td>
                                    <td>81</td>
                                    <td>19</td>
                                    <td>88</td>
                                    <td>13</td>
                                </tr>
                                <tr>
                                    <td>South Cotabato</td>
                                    <td>77</td>
                                    <td>23</td>
                                    <td>75</td>
                                    <td>25</td>
                                    <td>83</td>
                                    <td>17</td>
                                </tr>
                                <tr>
                                    <td>Sultan Kudarat</td>
                                    <td>78</td>
                                    <td>22</td>
                                    <td>74</td>
                                    <td>26</td>
                                    <td>84</td>
                                    <td>16</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">CARAGA</td>
                                </tr>
                                <tr>
                                    <td>Agusan del Norte</td>
                                    <td>72</td>
                                    <td>28</td>
                                    <td>74</td>
                                    <td>26</td>
                                    <td>68</td>
                                    <td>32</td>
                                </tr>
                                <tr>
                                    <td>Agusan del Sur</td>
                                    <td>78</td>
                                    <td>22</td>
                                    <td>77</td>
                                    <td>23</td>
                                    <td>82</td>
                                    <td>18</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><span class="font-weight-bold">BARMM</td>
                                </tr>
                                <tr>
                                    <td>Maguindanao</td>
                                    <td>93</td>
                                    <td>7</td>
                                    <td>95</td>
                                    <td>5</td>
                                    <td>90</td>
                                    <td>10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-muted">Note: [blank] = no samples in indicated ecosystem </div>
                </div>
            </div>
        </div>

        <!-- Footer --->
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <small class="d-block mb-3 text-muted">2021. RiceLytics Data Initative.</small>
                    <small class="text-muted">Philippine Rice Research Institute.</small>
                </div>
                <div class="col-6 col-md">
                    <h5>State of the Rice Sector</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Rice Production</a></li>
                        <li><a class="text-muted" href="#">Area Harvested</a></li>
                        <li><a class="text-muted" href="#">Yield per Hectare</a></li>
                        <li><a class="text-muted" href="#">Supply and Utilization</a></li>
                        <li><a class="text-muted" href="#">Gross Value Added</a></li>
                        <li><a class="text-muted" href="#">Farmer’s Income</a></li>
                        <li><a class="text-muted" href="#">Palay & Rice Prices</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Rice Farmer Characteristics</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Sociodemographics</a></li>
                        <li><a class="text-muted" href="#">Farm Details</a></li>
                        <li><a class="text-muted" href="#">Technology Awareness</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>RCEF Updates</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Inbred Seeds</a></li>
                        <li><a class="text-muted" href="#">Machineries</a></li>
                        <li><a class="text-muted" href="#">Extension</a></li>
                        <li><a class="text-muted" href="#">Credit</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/chart.js"></script>
    <script>
        Chart.defaults.global.responsive = true;
        Chart.defaults.global.tooltips.mode = 'index';
        Chart.defaults.global.tooltips.intersect = false;
        Chart.defaults.global.defaultFontFamily = 'Poppins';
        Chart.defaults.global.defaultFontSize = 13;
        Chart.defaults.global.animation.duration = 3000;

        // CHART 1

        var dbTotal = JSON.parse('[{"location_name":"Philippines","year":"1997","value":"92"},{"location_name":"Philippines","year":"2002","value":"92"},{"location_name":"Philippines","year":"2007","value":"89"},{"location_name":"Philippines","year":"2012","value":"89"},{"location_name":"Philippines","year":"2017","value":"82"}]');
        var dbIrrigated = JSON.parse('[{"location_name":"Philippines","year":"1997","value":"91"},{"location_name":"Philippines","year":"2002","value":"91"},{"location_name":"Philippines","year":"2007","value":"89"},{"location_name":"Philippines","year":"2012","value":"88"},{"location_name":"Philippines","year":"2017","value":"83"}]');
        var dbRainfed = JSON.parse('[{"location_name":"Philippines","year":"1997","value":"93"},{"location_name":"Philippines","year":"2002","value":"94"},{"location_name":"Philippines","year":"2007","value":"91"},{"location_name":"Philippines","year":"2012","value":"90"},{"location_name":"Philippines","year":"2017","value":"80"}]');
        var dbFTotal = JSON.parse('[{"location_name":"Philippines","year":"1997","value":"8"},{"location_name":"Philippines","year":"2002","value":"8"},{"location_name":"Philippines","year":"2007","value":"11"},{"location_name":"Philippines","year":"2012","value":"11"},{"location_name":"Philippines","year":"2017","value":"18"}]');
        var dbFIrrigated = JSON.parse('[{"location_name":"Philippines","year":"1997","value":"9"},{"location_name":"Philippines","year":"2002","value":"9"},{"location_name":"Philippines","year":"2007","value":"11"},{"location_name":"Philippines","year":"2012","value":"12"},{"location_name":"Philippines","year":"2017","value":"17"}]');
        var dbFRainfed = JSON.parse('[{"location_name":"Philippines","year":"1997","value":"7"},{"location_name":"Philippines","year":"2002","value":"6"},{"location_name":"Philippines","year":"2007","value":"9"},{"location_name":"Philippines","year":"2012","value":"10"},{"location_name":"Philippines","year":"2017","value":"20"}]');

        let years = [];
        let values_total = [];
        let values_irrig = [];
        let values_rain = [];
        let values_ftotal = [];
        let values_firrig = [];
        let values_frain = [];

        try {
            dbTotal.map((item) => {
                years.push(item.year);
                values_total.push(item.value);
            });
            dbIrrigated.map((item) => {
                values_irrig.push(item.value);
            });
            dbRainfed.map((item) => {
                values_rain.push(item.value);
            });
            dbFTotal.map((item) => {
                values_ftotal.push(item.value);
            });
            dbFIrrigated.map((item) => {
                values_firrig.push(item.value);
            });
            dbFRainfed.map((item) => {
                values_frain.push(item.value);
            });
        } catch (error) {
            console.log(error);
        }

        var maleFemale = document.getElementById('ctxMaleFemale').getContext('2d');
        var tempPLabels = [...years];
        var prodAllData = [...values_total];
        var prodIrrigData = [...values_irrig];
        var prodRainData = [...values_rain];
        var prodfAllData = [...values_ftotal];
        var prodfIrrigData = [...values_firrig];
        var prodfRainData = [...values_frain];
        var maleFemaleChart = new Chart(maleFemale, {

            type: 'bar',

            data: {
                labels: tempPLabels,
                datasets: [{
                        label: 'Male - Overall (%)',
                        backgroundColor: '#007FFE', // COLOR 1
                        borderColor: '#007FFE', // COLOR 1
                        data: prodAllData,
                        stack: 'All'
                    },
                    {
                        label: 'Female - Overall (%)',
                        backgroundColor: '#FE00A5', // COLOR 1
                        borderColor: '#FE00A5', // COLOR 1
                        data: prodfAllData,
                        stack: 'All'
                    },
                    {
                        label: 'Male - Irrigated (%)',
                        backgroundColor: '#2138B7', // COLOR 2
                        borderColor: '#2138B7', // COLOR 2
                        data: prodIrrigData,
                        stack: 'Irrigated'
                    }, {
                        label: 'Female - Irrigated (%)',
                        backgroundColor: '#B72165', // COLOR 2
                        borderColor: '#B72165', // COLOR 2
                        data: prodfIrrigData,
                        stack: 'Irrigated'
                    },
                    {
                        label: 'Male - Rainfed (%)',
                        backgroundColor: '#A6CEE3', // COLOR 3
                        borderColor: '#A6CEE3', // COLOR 3
                        data: prodRainData,
                        stack: 'Rainfed'
                    },
                    {
                        label: 'Female - Rainfed (%)',
                        backgroundColor: '#B5A6E3', // COLOR 3
                        borderColor: '#B5A6E3', // COLOR 3
                        data: prodfRainData,
                        stack: 'Rainfed'
                    }
                ]
            },

            options: {
                aspectRatio: 2.5,
                scales: {
                    xAxes: [{
                        stacked: true,
                        display: true,
                        gridLines: {
                            color: "rgba(0, 0, 0, 0)"
                        }
                    }],
                    yAxes: [{
                        stacked: true,
                        display: true,
                        ticks: {
                            suggestedMin: 0,
                            stepSize: 20

                        }
                    }]
                },
                legend: {
                    position: 'bottom'
                },
                tooltips: {
                    mode: 'x',
                }
            }
        });

    </script>
</body>

</html>
