{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Body -->
<div class="sublevel container">
  <!-- Header --->
  <div class="jumbotron">
      <div class="text-center jumbotron-content">
          <h2>State of the Rice Sector in the Philippines</h2>
          <h1>Rice Market Prices</h1>
          <p class="lead">Nostrum et aut alias aut ea distinctio accusamus. Ea dolores expedita autem eius. <br />Voluptatibus fuga nulla quia et.</p>
      </div>
  </div>
    <div class="row">
        <div class="col">
            <div class="card-deck mb-2 text-center">
                <div class="card primary mb-4 bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title">Farmgate Price ({{ farmgate_year }})</h5>
                        <p class="card-title-note">(PhP/kg)</p>
                        <h1 class="card-text mt-3 font-weight-bold smaller">{{ farmgate_value }}{% if farmgate_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif farmgate_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h1>
                        <div class="card-note w-50 mx-auto rounded-pill">
                            <p class="text-dark">Dry Palay</p>
                        </div>
                    </div>
                </div>
                <div class="card primary mb-4 bg-primary text-white">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">Wholesale Price ({{ wholesale_year }}) (PhP/kg)</h5>
                                <p class="card-title-note">(PhP/kg)</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6 border-right">
                                <h1 class="card-text font-weight-bold smaller">{{ wholesale_price }}{% if wholesale_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif wholesale_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h1>
                                <div class="card-note w-100 mx-auto rounded-pill">
                                    <p class="text-dark">Regular-Milled</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <h1 class="card-text font-weight-bold smaller">{{ wholesale_spprice }}{% if wholesale_spcompare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif wholesale_spcompare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h1>
                                <div class="card-note w-100 mx-auto rounded-pill">
                                    <p class="text-dark">Well-Milled</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card primary mb-4 bg-primary text-white">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">Retail Price ({{ retail_year }}) (PhP/kg)</h5>
                                <p class="card-title-note">(PhP/kg)</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6 border-right">
                                <h1 class="card-text font-weight-bold smaller">{{ retail_price }}{% if retail_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif retail_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h1>
                                <div class="card-note w-100 mx-auto rounded-pill">
                                    <p class="text-dark">Regular-Milled</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <h1 class="card-text font-weight-bold smaller">{{ retail_spprice }}{% if retail_spcompare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif retail_spcompare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h1>
                                <div class="card-note w-100 mx-auto rounded-pill">
                                    <p class="text-dark">Well-Milled</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="my-0 p-2">Farmgate prices per year (2000-2019)</h5>
                    <p class="my-0 font-weight-normal text-muted">in Philippine Peso (PhP) (PSA, 2020)</p>
                </div>
                <div class="card-body">
                    <div><canvas id="ctxFarmPrices"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="my-0 p-2">Wholesale prices, regular and well-milled rice, per year (2000-2019)</h5>
                    <p class="my-0 font-weight-normal text-muted">in Philippine Peso (PhP) (PSA, 2020)</p>
                </div>
                <div class="card-body">
                    <div><canvas id="ctxWholesalePrices"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="my-0 p-2">Retail prices, regular and well-milled rice, per year (2000-2019)</h5>
                    <p class="my-0 font-weight-normal text-muted">in Philippine Peso (PhP) (PSA, 2020)</p>
                </div>
                <div class="card-body">
                    <div><canvas id="ctxRetailPrices"></canvas></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer --->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">2021. RiceLytics Data Initative.</small>
                <small class="text-muted">Philippine Rice Research Institute.</small>
            </div>
            <div class="col-6 col-md">
                <h5>State of the Rice Sector</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Rice Production</a></li>
                    <li><a class="text-muted" href="#">Area Harvested</a></li>
                    <li><a class="text-muted" href="#">Yield per Hectare</a></li>
                    <li><a class="text-muted" href="#">Supply and Utilization</a></li>
                    <li><a class="text-muted" href="#">Gross Value Added</a></li>
                    <li><a class="text-muted" href="#">Farmer’s Income</a></li>
                    <li><a class="text-muted" href="#">Palay & Rice Prices</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Rice Farmer Characteristics</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Sociodemographics</a></li>
                    <li><a class="text-muted" href="#">Farm Details</a></li>
                    <li><a class="text-muted" href="#">Technology Awareness</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>RCEF Updates</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Inbred Seeds</a></li>
                    <li><a class="text-muted" href="#">Machineries</a></li>
                    <li><a class="text-muted" href="#">Extension</a></li>
                    <li><a class="text-muted" href="#">Credit</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% endblock content %}
{% block script %}
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.tooltips.mode = 'index';
    Chart.defaults.global.tooltips.intersect = false;
    Chart.defaults.global.defaultFontFamily = 'Poppins';
    Chart.defaults.global.defaultFontSize = 13;
    Chart.defaults.global.animation.duration = 3000;

    // CHART 1

    var dbFarmPrices = {{ npData|safe }};
    var dbFarmPricesR = {{ rpData|safe }};
    let years = [];
    let values_n_prices = [];
    let values_r_prices = [];

    try {
        dbFarmPrices.map((item) => {
            years.push(item.year);
            values_n_prices.push(item.value);
        });
        dbFarmPricesR.map((item) => {
            values_r_prices.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var farmPrices = document.getElementById('ctxFarmPrices').getContext('2d');
    var tempFarmLabels = [...years];
    var farmPriceData = [...values_n_prices];
    var farmPriceReal = [...values_r_prices];
    var farmPricesChart = new Chart(farmPrices, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: tempFarmLabels,
            datasets: [{
                label: 'Nominal price',
                backgroundColor: '#A6CEE3', // COLOR 1
                borderColor: '#A6CEE3', // COLOR 1
                lineTension: 0,
                fill: false,
                data: farmPriceData
            }, {
                label: 'Real price (2012=100)',
                backgroundColor: '#007FFE', // COLOR 2
                borderColor: '#007FFE', // COLOR 2
                lineTension: 0,
                fill: false,
                data: farmPriceReal
            }]
        },

        // Configuration options go here
        options: {
            aspectRatio: 2.2,
            elements: {
                point: {
                    radius: 2
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                    }
                }]
            },
            legend: {
                position: 'bottom'
            }
        }
    });

    // CHART 2

    var dbWPrice ={{ rmData|safe }};
    var dbWPricesS ={{ wmData|safe }};
    let years_w = [];
    let values_rm_prices = [];
    let values_w_prices = [];

    try {
        dbWPrice.map((item) => {
            years_w.push(item.year);
            values_rm_prices.push(item.value);
        });
        dbWPricesS.map((item) => {
            values_w_prices.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var wholesalePrices = document.getElementById('ctxWholesalePrices').getContext('2d');
    var tempWLabels = [...years_w];
    var wPriceData = [...values_rm_prices];
    var wPriceSp = [...values_w_prices];
    var wholesalePricesChart = new Chart(wholesalePrices, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: tempWLabels,
            datasets: [{
                label: 'Regular milled rice',
                backgroundColor: '#007FFE', // COLOR 1
                borderColor: '#007FFE', // COLOR 1
                lineTension: 0,
                fill: false,
                data: wPriceData
            }, {
                label: 'Well milled rice',
                backgroundColor: '#A6CEE3', // COLOR 2
                borderColor: '#A6CEE3', // COLOR 2
                lineTension: 0,
                fill: false,
                data: wPriceSp
            }]
        },

        // Configuration options go here
        options: {
            aspectRatio: 2.2,
            elements: {
                point: {
                    radius: 2
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                    }
                }]
            },
            legend: {
                position: 'bottom'
            }
        }
    });

    // CHART 3

    var dbRTPrice = {{ rrmData|safe }};
    var dbRTPricesS = {{ rwmData|safe }};
    let years_r = [];
    let values_rr_prices = [];
    let values_wr_prices = [];

    try {
        dbRTPrice.map((item) => {
            years_r.push(item.year);
            values_rr_prices.push(item.value);
        });
        dbRTPricesS.map((item) => {
            values_wr_prices.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var retailPrices = document.getElementById('ctxRetailPrices').getContext('2d');
    var tempRLabels = [...years_r];
    var rPriceData = [...values_rr_prices];
    var rPriceSp = [...values_wr_prices];
    var retailPricesChart = new Chart(retailPrices, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: tempWLabels,
            datasets: [{
                label: 'Regular milled rice',
                backgroundColor: '#007FFE', // COLOR 1
                borderColor: '#007FFE', // COLOR 1
                lineTension: 0,
                fill: false,
                data: rPriceData
            }, {
                label: 'Well milled rice',
                backgroundColor: '#A6CEE3', // COLOR 2
                borderColor: '#A6CEE3', // COLOR 2
                lineTension: 0,
                fill: false,
                data: rPriceSp
            }]
        },

        // Configuration options go here
        options: {
            aspectRatio: 2.2,
            elements: {
                point: {
                    radius: 2
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                    }
                }]
            },
            legend: {
                position: 'bottom'
            }
        }
    });

</script>
{% endblock script %}
