{% extends 'main.html' %}
{% load static %}
{% block content %}
    <!-- Header --->
    <div id='pp' class="jumbotron">
        <div class="jumbotron-content text-left">
          <div class="row">
            <div class="col">
              <h2>State of the Rice Sector in the Philippines</h2>
              <h1>{{title}}</h1>
              <p><i>What is the total volume of palay produced in the country?</i>
                <br>Know the latest and historical rice production information and the contribution
                <br> of each province to the overall quantity.</p>
            </div>
            <div class="col">
              <br>
              
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <div class="card-group text-white">
                  <div class="card primary mb-2 bg-alternate text-white">
                      <div class="card-body">
                          <h5 class="card-title text-left">Irrigated Area ({{ irrigated_year }})</h5>
                          <h1 class="card-text font-weight-semibold text-center">{{ irrigated_value }}
                            {% if irrigated_compare > 0 %}
                            <img class='arrowup' src="{% static 'assets/arrow_industry up.png' %}" >
                            {% elif irrigated_compare < 0 %}
                            <img class='arrowdown' src="{% static 'assets/arrow_industry down.png' %}" >
                            {% else %}
                            <img class='line' src="{% static 'assets/line_industry.png' %}" >
                            {%endif%}</h1>
                          <div class="card-note w-75 mx-auto rounded-pill bg-primary text-center">
                              <p class="text-white">million metric tons</p>
                          </div>
                      </div>
                  </div>
                  <div class="card primary mb-2 ml-2 bg-primary text-white">
                      <div class="card-body">
                          <h5 class="card-title">National Total ({{ all_eco_year }})</h5>
                          <h1 class="card-text font-weight-semibold text-center">{{ all_eco_value }}
                            {% if all_eco_compare > 0 %}
                            <img class='arrowup' src="{% static 'assets/arrow_industry up.png' %}" >
                            {% elif all_eco_compare < 0 %}
                            <img class='arrowdown' src="{% static 'assets/arrow_industry down.png' %}" >
                            {% else %}
                            <img class='line' src="{% static 'assets/line_industry.png' %}" >
                            {%endif%}</h1>
                            <div class="card-note w-75 mx-auto rounded-pill bg-warning text-center">
                              <p>million metric tons</p>
                          </div>
                      </div>
                  </div>
                  <div class="card primary mb-2 ml-2 bg-alternate2 text-white">
                      <div class="card-body">
                          <h5 class="card-title">Non-Irrigated Area ({{non_irrigated_year}})</h5>
                          <h1 class="card-text font-weight-semibold text-center">{{non_irrigated_value}}
                            {% if non_irrigated_compare > 0 %}
                            <img class='arrowup' src="{% static 'assets/arrow_industry up.png' %}" >
                            {% elif non_irrigated_compare < 0 %}
                            <img class='arrowdown' src="{% static 'assets/arrow_industry down.png' %}" >
                            {% else %}
                            <img class='line' src="{% static 'assets/line_industry.png' %}" >
                            {%endif%}</h1>
                          <div class="card-note w-75 mx-auto rounded-pill bg-primary text-center">
                              <p class="text-white">million metric tons</p>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card mb-2">
                  <div class="card-header text-left">
                      <h5 class="my-0 font-weight-bold">Total palay produced by year (2000-2020)</h5>
                      <h5 class="my-0 font-weight-normal text-muted">in million metric tons (mt)</h5>
                  </div>
                  <div class="card-body">
                      <div><canvas id="ctxProdStack"></canvas></div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card mb-2" data-toggle="modal" data-target="#exampleModalCenter">
              <div class="card-header text-left" data-toggle="tooltip" data-placement="top" title="Click to view all">
                  <h5 class="my-0 font-weight-bold">Total palay produced per province ({{irrigated_year}})</h5>
                  <h5 class="my-0 font-weight-normal text-muted">in million metric tons</h5>
              </div>
              <div class="card-body">
                  <canvas id="ctxTopProv2"></canvas>
              </div>
          </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-xl" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLongTitle">Top Palay Produced By Provinces</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-6">
                <canvas id="ctxTopProv"></canvas>
              </div>
              <div class="col-6">
                <canvas id="ctxTopProv3"></canvas>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
{% block script %}
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.tooltips.mode = 'index';
    Chart.defaults.global.tooltips.intersect = false;
    Chart.defaults.global.defaultFontFamily = 'Poppins';
    Chart.defaults.global.defaultFontSize = 13;
    Chart.defaults.global.animation.duration = 3000;

    // CHART 1
    var dbTotal ={{ aeData|safe }};
    var dbIrrigated = {{ iData|safe }};
    var dbRainfed = {{ rfData|safe }};

    let years = [];
    let values_total = [];
    let values_irrig = [];
    let values_rain = [];

    try {
        dbTotal.map((item) => {
            years.push(item.year);
            values_total.push(item.value);
        });
        dbIrrigated.map((item) => {
            values_irrig.push(item.value);
        });
        dbRainfed.map((item) => {
            values_rain.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var prodStack = document.getElementById('ctxProdStack').getContext('2d');
    var tempPLabels = [...years];
    var prodAllData = [...values_total];
    var prodIrrigData = [...values_irrig];
    var prodRainData = [...values_rain];
    var prodStackChart = new Chart(prodStack, {

        type: 'bar',

        data: {
            labels: tempPLabels,
            datasets: [{
                    label: 'All ecosystems',
                    backgroundColor: '#007FFE', // COLOR 1
                    borderColor: '#007FFE', // COLOR 1
                    lineTension: 0,
                    type: 'line',
                    fill: false,
                    data: prodAllData,
                },
                {
                    label: 'Irrigated',
                    backgroundColor: '#C45000', // COLOR 2
                    borderColor: '#C45000', // COLOR 2
                    data: prodIrrigData
                },
                {
                    label: 'Non-Irrigated',
                    backgroundColor: '#FFB043', // COLOR 3
                    borderColor: '#FFB043', // COLOR 3
                    data: prodRainData
                }
            ]
        },

        options: {
            aspectRatio: 1.315,
            scales: {
                xAxes: [{
                    ticks:{
                      fontSize:10,
                    },
                    stacked: true,
                    display: true,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                        stepSize: 5,
                        
                    }
                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
                labels: {
                  fontSize:10,
                }
            },
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 0,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';
                  // ctx.font = ctx.font.replace(/\d+px/, "7px");
                  this.data.datasets.forEach(function(dataset, i){
                    if(dataset.label == 'All ecosystems' ){
                        let meta = chartInstance.controller.getDatasetMeta(i);
                        meta.data.forEach(function(bar, index) {
                        let data = dataset.data[index];
                        ctx.fillText(data, bar._model.x + 0 , bar._model.y + -10);
                        });
                    } else {
                        let meta = chartInstance.controller.getDatasetMeta(i);
                        meta.data.forEach(function(bar, index) {
                        let data = dataset.data[index];
                        ctx.fillStyle = '#ffffff';
                        ctx.fillText(data, bar._model.x + 0 , bar._model.y + 30);
                        });
                    }
                    
                  });
                }
            }
        }
        
    });

    // CHART 2

    var dbProvs = {{ tpData|safe }};
    let provinces = [];
    let values = [];

    try {
        dbProvs.map((item) => {
            provinces.push(item.location_name);
            values.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var prodStack = document.getElementById('ctxProdStack').getContext('2d');
    var tempPrLabels = [...provinces];
    var topProvData = [...values];

    var topProv = document.getElementById('ctxTopProv').getContext('2d');
    var topProvChart = new Chart(topProv, {
        // The type of chart we want to create
        type: 'horizontalBar',

        data: {
            labels: tempPrLabels,
            datasets: [{
                label: 'Provincial total production',
                backgroundColor: '#2138B7', // COLOR 4
                borderColor: '#2138B7', // COLOR 4
                fill: false,
                data: topProvData
            }]
        },

        options: {
            aspectRatio: .8,
            scales: {
                xAxes: [{
                    display: false,
                    ticks:{
                      suggestedMax: 2.1,
                    },
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                        // fontSize: 7,
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }]
            },
            legend: {
                display: false,
            },
            tooltips: false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 0,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';
                  // ctx.font = ctx.font.replace(/\d+px/, "7px");
                  this.data.datasets.forEach(function(dataset, i)
                                             {
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      ctx.fillText(data, bar._model.x + 15 , bar._model.y + 8);
                    });
                  });
                }
            }
        }
    });

    // CHART 2

    var dbProvs3 = {{ tpData3|safe }};
    let provinces3 = [];
    let values3 = [];

    try {
        dbProvs3.map((item) => {
            provinces3.push(item.location_name);
            values3.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var prodStack3 = document.getElementById('ctxProdStack').getContext('2d');
    var tempPrLabels3 = [...provinces3];
    var topProvData3 = [...values3];

    var topProv3 = document.getElementById('ctxTopProv3').getContext('2d');
    var topProvChart3 = new Chart(topProv3, {
        // The type of chart we want to create
        type: 'horizontalBar',

        data: {
            labels: tempPrLabels3,
            datasets: [{
                label: 'Provincial total production',
                backgroundColor: '#2138B7', // COLOR 4
                borderColor: '#2138B7', // COLOR 4
                fill: false,
                data: topProvData3
            }]
        },

        options: {
            aspectRatio: .8,
            scales: {
                xAxes: [{
                    display: false,
                    ticks:{
                      suggestedMax: 2.1,
                    },
                }],
                yAxes: [{
                    display: true,

                    ticks: {
                        suggestedMin: 0,
                        // fontSize: 7,
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }]
            },
            legend: {
                display: false
            },
            tooltips: false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 0,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';
                  // ctx.font = ctx.font.replace(/\d+px/, "7px");
                  this.data.datasets.forEach(function(dataset, i)
                                             {
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      ctx.fillText(data, bar._model.x + 15 , bar._model.y + 8);
                    });
                  });
                }
            }
        }
    });


    var dbProvs2 = {{ tpData2|safe }};
    let provinces2 = [];
    let values2 = [];

    try {
        dbProvs2.map((item) => {
            provinces2.push(item.location_name);
            values2.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var prodStack2 = document.getElementById('ctxProdStack').getContext('2d');
    var tempPrLabels2 = [...provinces2];
    var topProvData2 = [...values2];

    var topProv2 = document.getElementById('ctxTopProv2').getContext('2d');
    var topProvChart2 = new Chart(topProv2, {
        // The type of chart we want to create
        type: 'horizontalBar',

        data: {
            labels: tempPrLabels2,
            datasets: [{
                label: 'Provincial total production',
                backgroundColor: '#2138B7', // COLOR 4
                borderColor: '#2138B7', // COLOR 4
                fill: false,
                data: topProvData2
            }]
        },

        options: {
            aspectRatio: 1,
            scales: {
                xAxes: [{
                    display: false,
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }]
            },
            legend: {
                display: false
            },
            tooltips: false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 0,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';

                  this.data.datasets.forEach(function(dataset, i)
                                             {
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      ctx.fillText(data, bar._model.x + 15 , bar._model.y + 5);
                    });
                  });
                }
            }
        }
    });

    </script>
{% endblock script %}
