{% extends 'main.html' %}
{% load static %}
{% block content %}
    <!-- Header --->
    <div id='supply' class="jumbotron">
        <div class="jumbotron-content text-left">
          <div class="row">
            <div class="col">
              <h2>State of the Rice Sector in the Philippines</h2>
              <h1>{{title}}</h1>
            </div>
            <div class="col">
              <br>
              <p><i>How much rice supply do we attain and utilize?</i> 
                <br>Know the total supply versus utilization per year, as well as the rice supply sources
                <br>and utilization accounts.
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <div class="card-group text-center">
                        <div class="card primary mb-2 mr-2 bg-primary text-white">
                            <div class="card-body">
                                <h5 class="card-title">Total Supply ({{ supply_year }})</h5>
                                <h1 class="card-text font-weight-bold">{{ supply_value }}
                                    {% if supply_compare > 0 %} 
                                    <img class='arrowup' src="{% static 'assets/arrow_industry up.png' %}" >
                                    {% elif supply_compare < 0 %} 
                                    <img class='arrowdown' src="{% static 'assets/arrow_industry down.png' %}" >
                                    {% else %}
                                    <img class='line' src="{% static 'assets/line_industry.png' %}" >
                                    {%endif%}</h1>
                                <div class="card-note w-50 mx-auto rounded-pill bg-warning">
                                    <p class="text-white">million metric tons</p>
                                </div>
                            </div>
                        </div>
                        <div class="card primary mb-2 bg-primary text-white">
                            <div class="card-body">
                                <h5 class="card-title">Total Utilization ({{ utilization_year }})</h5>
                                <h1 class="card-text font-weight-bold">{{ utilization_value }}
                                    {% if utilization_compare > 0 %} 
                                    <img class='arrowup' src="{% static 'assets/arrow_industry up.png' %}" >
                                    {% elif utilization_compare < 0 %} 
                                    <img class='arrowdown' src="{% static 'assets/arrow_industry down.png' %}" >
                                    {% else %}
                                    <img class='line' src="{% static 'assets/line_industry.png' %}" >
                                    {%endif%}</h1>
                                <div class="card-note w-50 mx-auto rounded-pill bg-warning">
                                    <p class="text-white">million metric tons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-2" data-toggle="modal" data-target="#table1">
                        <div class="card-header text-left" data-toggle="tooltip" data-placement="top" title="Click to view all">
                            <h5 class="my-0 font-weight-bold">Distribution of supply source (2000-2019)</h5>
                            <p class="my-0 font-weight-normal text-muted">in million metric tons (PSA, 2020)</p>
                        </div>
                        <div class="card-body">
                            <div><canvas id="ctxSupplyStack"></canvas></div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-2" data-toggle="modal" data-target="#table2">
                        <div class="card-header text-left" data-toggle="tooltip" data-placement="top" title="Click to view all">
                            <h5 class="my-0 font-weight-bold">Total supply versus total utilization (2000-2019)</h5>
                            <p class="my-0 font-weight-normal text-muted">in million metric tons (PSA, 2020)</p>
                        </div>
                        <div class="card-body">
                            <div><canvas id="ctxSupply"></canvas></div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-2" data-toggle="modal" data-target="#table3">
                        <div class="card-header text-left" data-toggle="tooltip" data-placement="top" title="Click to view all">
                            <h5 class="my-0 font-weight-bold">Supply utilization accounts (2000-2019)</h5>
                            <p class="my-0 font-weight-normal text-muted">in million metric tons (PSA, 2020)</p>
                        </div>
                        <div class="card-body">
                            <div><canvas id="ctxUtilStack"></canvas></div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="modal fade bd-example-modal-xl" id="table1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLongTitle">Distribution of supply source (2000-2019)</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <canvas id="ctxSupplyStack2"></canvas>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-xl" id="table2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLongTitle">Total supply versus total utilization (2000-2019)</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <canvas id="ctxSupply2"></canvas>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-xl" id="table3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLongTitle">Supply utilization accounts (2000-2019)</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <canvas id="ctxUtilStack2"></canvas>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.tooltips.mode = 'index';
    Chart.defaults.global.tooltips.intersect = false;
    Chart.defaults.global.defaultFontFamily = 'Poppins';
    Chart.defaults.global.defaultFontSize = 13;
    Chart.defaults.global.animation.duration = 3000;

    var dbTotalSupply = {{ tsData|safe }};
    var dbTotalUtil = {{ tuData|safe }};
    var dbSupplySources ={{ ssData|safe }};
    var dbUseAccounts = {{ yaData|safe }};
    var curStocks = '2551.00';
    var curProduce = '12305.00';
    var curImports = '3118.00';
    var curExports = '0.00';
    var curSeeds = '228.00';
    var curFeedWastes = '800.00';
    var curProcessing = '492.00';
    var curEndStocks = '2675.00';
    var curFood = '13779.00';

    let years = [];
    let years_act = [];
    let supplies = [];
    let utils = [];
    let stocks = [];
    let locals = [];
    let imports = [];
    let exports = [];
    let seeds = [];
    let feedswastes = [];
    let processing = [];
    let endstocks = [];
    let food = [];

    try {
        dbTotalSupply.map((item) => {
            years.push(item.year);
            supplies.push(item.value);
        });
        dbTotalUtil.map((item) => {
            utils.push(item.value);
        });
        dbSupplySources.map((item) => {
            stocks.push(item.SUBeginningStocks);
            locals.push(item.SUProduction);
            imports.push(item.SUImports);
        });
        dbUseAccounts.map((item) => {
            exports.push(item.UTExports);
            seeds.push(item.UTSeeds);
            feedswastes.push(item.UTFeedsWaste);
            processing.push(item.UTProcessing);
            endstocks.push(item.UTEndingStocks);
            food.push(item.uttotalnet);
        });
    } catch (error) {
        console.log(error);
    }

    var yearsLab = [...years];
    var yearsLabAct = [...years_act];
    var totalSupply = [...supplies];
    var totalUse = [...utils];
    var totalStocks = [...stocks];
    var totalProduce = [...locals];
    var totalImports = [...imports];
    var totalExports = [...exports];
    var totalSeeds = [...seeds];
    var totalFeedsWastes = [...feedswastes];
    var totalProcessing = [...processing];
    var totalEndStocks = [...endstocks];
    var totalFood = [...food];

    /**
    ctxSupply
    ctxUtil
    */

    var SupplyUse = document.getElementById('ctxSupply').getContext('2d');

    var SupplyUseChart = new Chart(SupplyUse, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: yearsLab,
            datasets: [{
                label: 'Total Supply',
                backgroundColor: '#A6CEE3', // COLOR 1
                borderColor: '#A6CEE3', // COLOR 1
                lineTension: 0,
                type: 'line',
                fill: false,
                data: totalSupply
            }, {
                label: 'Total Utilization',
                backgroundColor: '#007FFE', // COLOR 2
                borderColor: '#007FFE', // COLOR 2
                lineTension: 0,
                type: 'line',
                fill: false,
                data: totalUse
            }]
        },

        // Configuration options go here
        options: {
            aspectRatio: 3.35,
            elements: {
                point: {
                    radius: 2
                }
            },
            scales: {
                xAxes: [{
                  display: true,
                  ticks: {
                    fontSize:11,
                  },
                  gridLines: {
                      color: "rgba(0, 0, 0, 0)"
                  }
                }],
                yAxes: [{
                    display: false,
                    ticks: {
                        min: 8,
                        beginAtZero:true,
                        userCallback: function(value, index, values) {
                            value = value.toString();
                            value = value.split(/(?=(?:...)*$)/);
                            value = value.join(',');
                            return value;
                          }
                    }
                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
                labels:{
                    fontSize:10,
                }
                
            },
            tooltips:false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 1,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';
                  ctx.fillStyle = '#6c757d';
                  ctx.font = ctx.font.replace(/\d+px/, "10px");

                  this.data.datasets.forEach(function(dataset, i){
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      // data = parseInt(data).toLocaleString();
                      ctx.fillText(data, bar._model.x + 0 , bar._model.y + -5);
                    });
                  });
                }
            }
        }
    });

    var SupplyUse2 = document.getElementById('ctxSupply2').getContext('2d');

    var SupplyUseChart2 = new Chart(SupplyUse2, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: yearsLab,
            datasets: [{
                label: 'Total Supply',
                backgroundColor: '#A6CEE3', // COLOR 1
                borderColor: '#A6CEE3', // COLOR 1
                lineTension: 0,
                type: 'line',
                fill: false,
                data: totalSupply
            }, {
                label: 'Total Utilization',
                backgroundColor: '#007FFE', // COLOR 2
                borderColor: '#007FFE', // COLOR 2
                lineTension: 0,
                type: 'line',
                fill: false,
                data: totalUse
            }]
        },

        // Configuration options go here
        options: {
            aspectRatio: 1.5,
            elements: {
                point: {
                    radius: 2
                }
            },
            scales: {
                xAxes: [{
                  display: true,
                  gridLines: {
                      color: "rgba(0, 0, 0, 0)"
                  }
                }],
                yAxes: [{
                    display: false,
                    ticks: {
                        min: 8,
                        beginAtZero:true,
                        userCallback: function(value, index, values) {
                            value = value.toString();
                            value = value.split(/(?=(?:...)*$)/);
                            value = value.join(',');
                            return value;
                          }
                    }
                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
                
            },
            tooltips:false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 1,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';
                  ctx.fillStyle = '#6c757d';
                //   ctx.font = ctx.font.replace(/\d+px/, "10px");

                  this.data.datasets.forEach(function(dataset, i){
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      // data = parseInt(data).toLocaleString();
                      ctx.fillText(data, bar._model.x + 0 , bar._model.y + -10);
                    });
                  });
                }
            }
        }
    });

    var SupplyStack = document.getElementById('ctxSupplyStack').getContext('2d');

    var SupplyStackChart = new Chart(SupplyStack, {

        type: 'bar',

        data: {
            labels: yearsLab,
            datasets: [{
                    label: 'Beginning Stocks',
                    backgroundColor: '#FE8100', // COLOR 1
                    borderColor: '#FE8100', // COLOR 1
                    data: totalStocks
                },
                {
                    label: 'Local Production',
                    backgroundColor: '#2037B4', // COLOR 2
                    borderColor: '#2037B4', // COLOR 2
                    data: totalProduce
                },
                {
                    label: 'Imports',
                    backgroundColor: '#A2C5AC', // COLOR 3
                    borderColor: '#A2C5AC', // COLOR 3
                    data: totalImports
                }
            ]
        },

        options: {
            aspectRatio: 1.5,
            scales: {
                xAxes: [{
                    stacked: true,
                    display: true,
                    ticks: {
                        fontSize:11,
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: false,
                    ticks : {
                      suggestedMin: 0,
                      beginAtZero:true,
                      userCallback: function(value, index, values) {
                          value = value.toString();
                          value = value.split(/(?=(?:...)*$)/);
                          value = value.join(',');
                          return value;
                        }
                    }
                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
                labels:{
                    fontSize:10,
                }
            },
            datalabels: {
                display: false
            },
            plugins: {
                labels: false
            },
            // tooltips:false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 1,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';
                  ctx.fillStyle = '#ffffff';
                  ctx.font = ctx.font.replace(/\d+px/, "11px");

                  this.data.datasets.forEach(function(dataset, i){
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      // data = parseInt(data).toLocaleString();
                      ctx.fillText(data, bar._model.x + 0 , bar._model.y + 12);
                    });
                  });
                }
            }
        }
    });

    var SupplyStack2 = document.getElementById('ctxSupplyStack2').getContext('2d');

    var SupplyStackChart2 = new Chart(SupplyStack2, {

        type: 'bar',

        data: {
            labels: yearsLab,
            datasets: [{
                    label: 'Beginning Stocks',
                    backgroundColor: '#FE8100', // COLOR 1
                    borderColor: '#FE8100', // COLOR 1
                    data: totalStocks
                },
                {
                    label: 'Local Production',
                    backgroundColor: '#2037B4', // COLOR 2
                    borderColor: '#2037B4', // COLOR 2
                    data: totalProduce
                },
                {
                    label: 'Imports',
                    backgroundColor: '#A2C5AC', // COLOR 3
                    borderColor: '#A2C5AC', // COLOR 3
                    data: totalImports
                }
            ]
        },

        options: {
            aspectRatio: 1.5,
            scales: {
                xAxes: [{
                    stacked: true,
                    display: true,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: false,
                    ticks : {
                      suggestedMin: 0,
                      beginAtZero:true,
                      userCallback: function(value, index, values) {
                          value = value.toString();
                          value = value.split(/(?=(?:...)*$)/);
                          value = value.join(',');
                          return value;
                        }
                    }
                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
            },
            datalabels: {
                display: false
            },
            plugins: {
                labels: false
            },
            // tooltips:false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 1,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';
                  ctx.fillStyle = '#ffffff';

                  this.data.datasets.forEach(function(dataset, i){
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      // data = parseInt(data).toLocaleString();
                      ctx.fillText(data, bar._model.x + 0 , bar._model.y + 12);
                    });
                  });
                }
            }
        }
    });

    var UtilStack = document.getElementById('ctxUtilStack').getContext('2d');

    var ctxUtilStackChart = new Chart(UtilStack, {

        type: 'bar',

        data: {
            labels: yearsLab,
            datasets: [{
                    label: 'Exports',
                    backgroundColor: '#FE8100', // COLOR 1
                    borderColor: '#FE8100', // COLOR 1
                    data: totalExports
                },
                {
                    label: 'Seeds',
                    backgroundColor: '#00FE7F', // COLOR 2
                    borderColor: '#00FE7F', // COLOR 2
                    data: totalSeeds
                },
                {
                    label: 'Feeds/Wastes',
                    backgroundColor: '#FE0000', // COLOR 2
                    borderColor: '#FE0000', // COLOR 2
                    data: totalFeedsWastes
                },
                {
                    label: 'Processing',
                    backgroundColor: '#04C5AC', // COLOR 2
                    borderColor: '#04C5AC', // COLOR 2
                    data: totalProcessing
                },
                {
                    label: 'Net Food Disposable',
                    backgroundColor: '#2037B4', // COLOR 3
                    borderColor: '#2037B4', // COLOR 3
                    data: totalFood
                }
            ]
        },

        options: {
          aspectRatio: 2.2,
            scales: {
                xAxes: [{
                    stacked: true,
                    display: true,
                    ticks: {
                        fontSize:11,
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: false,
                    ticks : {
                      suggestedMin: 0,
                      beginAtZero:true,
                      userCallback: function(value, index, values) {
                          value = value.toString();
                          value = value.split(/(?=(?:...)*$)/);
                          value = value.join(',');
                          return value;
                        }
                    }

                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
                labels:{
                    fontSize:10,
                }
            },
            plugins: {
                labels: false
            },
            // tooltips:false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 1,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';
                  ctx.fillStyle = '#ffffff';
                  ctx.font = ctx.font.replace(/\d+px/, "11px");

                  this.data.datasets.forEach(function(dataset, i){
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      // data = parseInt(data).toLocaleString();
                      ctx.fillText(data, bar._model.x + 0 , bar._model.y + 12);
                    });
                  });
                }
            }
        }
    });

    var UtilStack2 = document.getElementById('ctxUtilStack2').getContext('2d');

    var ctxUtilStackChart2 = new Chart(UtilStack2, {

        type: 'bar',

        data: {
            labels: yearsLab,
            datasets: [{
                    label: 'Exports',
                    backgroundColor: '#FE8100', // COLOR 1
                    borderColor: '#FE8100', // COLOR 1
                    data: totalExports
                },
                {
                    label: 'Seeds',
                    backgroundColor: '#00FE7F', // COLOR 2
                    borderColor: '#00FE7F', // COLOR 2
                    data: totalSeeds
                },
                {
                    label: 'Feeds/Wastes',
                    backgroundColor: '#FE0000', // COLOR 2
                    borderColor: '#FE0000', // COLOR 2
                    data: totalFeedsWastes
                },
                {
                    label: 'Processing',
                    backgroundColor: '#04C5AC', // COLOR 2
                    borderColor: '#04C5AC', // COLOR 2
                    data: totalProcessing
                },
                {
                    label: 'Net Food Disposable',
                    backgroundColor: '#2037B4', // COLOR 3
                    borderColor: '#2037B4', // COLOR 3
                    data: totalFood
                }
            ]
        },

        options: {
          aspectRatio: 1.3,
            scales: {
                xAxes: [{
                    stacked: true,
                    display: true,

                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: false,
                    ticks : {
                      suggestedMin: 0,
                      beginAtZero:true,
                      userCallback: function(value, index, values) {
                          value = value.toString();
                          value = value.split(/(?=(?:...)*$)/);
                          value = value.join(',');
                          return value;
                        }
                    }

                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
            },
            plugins: {
                labels: false
            },
            // tooltips:false,
            hover: {
              animationDuration: 0
            },
            animation: {
              duration: 1,
                onComplete: function() {
                  let chartInstance = this.chart,
                      ctx = chartInstance.ctx;

                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';
                  ctx.fillStyle = '#ffffff';

                  this.data.datasets.forEach(function(dataset, i){
                    let meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                      let data = dataset.data[index];
                      // data = parseInt(data).toLocaleString();
                      ctx.fillText(data, bar._model.x + 0 , bar._model.y + 13);
                    });
                  });
                }
            }
        }
    });

</script>
{% endblock script %}
