{% extends 'main.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
    <!-- Header --->
    <div class="jumbotron">
        <div class="jumbotron-content text-center">
            <h2>State of the Rice Sector in the Philippines</h2>
            <h1>{{ title }}</h1>
            <p>How much does the rice farming sector contribute to macroeconomics? Learn the Gross Value Added (GVA) in rice production, its share in the GVA of agriculture, forestry, and fishing, and its portion in the National Gross Domestic Product. </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-deck mb-5 text-center">
                <div class="card primary mb-5 bg-alternate3">
                    <div class="card-body">
                        <div class="row">
                          <div class="col-6 border-right">
                            <h6 class="card-title">GVA in Agriculture, Forestry, and Fishing ({{ aff_year }})</h6>
                              <h1 class="card-text font-weight-bold mt-4" style="margin-left: -10px;">P{{ aff_price }}{% if aff_price_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif aff_price_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h1>
                              <div class="card-note w-100 mx-auto rounded-pill bg-primary">
                                  <p class="text-white">billion</p>
                              </div>
                              <p class="card-title-note">(At 2018 Constant Prices)</p>
                          </div>
                          <div class="col-6">
                            <h6 class="card-title">Percent Share of Rice Production</h6>
                            <div class="card-body py-1">{% if aff_percent_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif aff_percent_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}<canvas id="GVA"></canvas></div>
                            <!-- <h1 class="card-text align-middle font-weight-bold">{{ aff_percent }}%{% if aff_percent_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif aff_percent_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h1> -->
                          </div>
                        </div>
                    </div>
                </div>
                <div class="card primary mb-5 bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title">Gross Value Added in Rice Production ({{ rpgva_year }})</h5>
                        <h1 class="card-text font-weight-bold mt-4 pt-3">P{{ rpgva_price }}{% if rpgva_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif rpgva_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h1>
                        <div class="card-note w-50 mx-auto rounded-pill bg-warning">
                            <p>Billion Pesos</p>
                        </div>
                        <p>(At 2018 Constant Prices)</p>
                    </div>
                </div>
                <div class="card primary mb-5 bg-alternate3">
                    <div class="card-body">
                        <div class="row">
                          <div class="col-6 border-right">
                            <h6 class="card-title">National Gross Domestic Product ({{ gdp_year }})</h6>
                            <h1 class="card-text font-weight-bold" style="margin-left: -10px;">P{{ gdp_price }}{% if gdp_price_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif gdp_price_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h1>
                            <div class="card-note w-100 mx-auto rounded-pill bg-primary">
                                <p class="text-white">Trillion</p>
                            </div>
                            <p class="card-title-note">(At 2018 Constant Prices)</p>
                          </div>
                          <div class="col-6">
                            <h6 class="card-title">Percent Share of Rice Production</h6>
                            <div class="card-body py-1">{% if gdp_percent_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif gdp_percent_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}<canvas id="GDP"></canvas></div>
                            <!-- <h1 class="card-text align-middle mt-2 font-weight-bold">{{ gdp_percent }}%{% if gdp_percent_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif gdp_percent_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h1> -->
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="my-0 p-2">GVA in Rice Production and GVA in Agriculture, Forestry, and Fishing (2000-2020)</h5>
                    <p class="my-0 font-weight-normal text-muted">in billion pesos, At Constant 2018 Prices (PSA, 2021)</p>
                </div>
                <div class="card-body mt-4">
                    <div><canvas id="ctxAgriSector" height="150"></canvas></div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="my-0 p-2">Percent Share of Rice Production to GVA in Agriculture, Forestry, and Fishing and to National GDP (2000-2020)</h5>
                    <p class="my-0 font-weight-normal text-muted">Percentage (%), At Constant 2018 Prices (PSA, 2021)</p>
                </div>
                <div class="card-body">
                    <div><canvas id="ctxAgriShare" height="150"></canvas></div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block script %}
<script>
  Chart.pluginService.register({
      beforeDraw: function(chart) {
          if (chart.config.options.elements.center) {
              // Get ctx from string
              var ctx = chart.chart.ctx;

              // Get options from the center object in options
              var centerConfig = chart.config.options.elements.center;
              var fontStyle = centerConfig.fontStyle || 'Arial';
              var txt = centerConfig.text;
              var color = centerConfig.color || '#000';
              var maxFontSize = centerConfig.maxFontSize || 75;
              var sidePadding = centerConfig.sidePadding || 20;
              var sidePaddingCalculated = (sidePadding / 100) * (chart.innerRadius * 2)
              // Start with a base font of 30px
              ctx.font = "30px " + fontStyle;

              // Get the width of the string and also the width of the element minus 10 to give it 5px side padding
              var stringWidth = ctx.measureText(txt).width;
              var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

              // Find out how much the font can grow in width.
              var widthRatio = elementWidth / stringWidth;
              var newFontSize = Math.floor(30 * widthRatio);
              var elementHeight = (chart.innerRadius * 2);

              // Pick a new font size so it will not be larger than the height of label.
              var fontSizeToUse = Math.min(newFontSize, elementHeight, maxFontSize);
              var minFontSize = centerConfig.minFontSize;
              var lineHeight = centerConfig.lineHeight || 25;
              var wrapText = false;

              if (minFontSize === undefined) {
                  minFontSize = 20;
              }

              if (minFontSize && fontSizeToUse < minFontSize) {
                  fontSizeToUse = minFontSize;
                  wrapText = true;
              }

              // Set font settings to draw it correctly.
              ctx.textAlign = 'center';
              ctx.textBaseline = 'middle';
              var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
              var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
              ctx.font = fontSizeToUse + "px " + fontStyle;
              ctx.fillStyle = color;

              if (!wrapText) {
                  ctx.fillText(txt, centerX, centerY);
                  return;
              }

              var words = txt.split(' ');
              var line = '';
              var lines = [];

              // Break words up into multiple lines if necessary
              for (var n = 0; n < words.length; n++) {
                  var testLine = line + words[n] + ' ';
                  var metrics = ctx.measureText(testLine);
                  var testWidth = metrics.width;
                  if (testWidth > elementWidth && n > 0) {
                      lines.push(line);
                      line = words[n] + ' ';
                  } else {
                      line = testLine;
                  }
              }

              // Move the center up depending on line height and number of lines
              centerY -= (lines.length / 2) * lineHeight;

              for (var n = 0; n < lines.length; n++) {
                  ctx.fillText(lines[n], centerX, centerY);
                  centerY += lineHeight;
              }
              //Draw text in center
              ctx.fillText(line, centerX, centerY);
          }
      }
  });
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.tooltips.mode = 'index';
    Chart.defaults.global.tooltips.intersect = false;
    Chart.defaults.global.defaultFontFamily = 'Poppins';
    Chart.defaults.global.defaultFontSize = 13;
    Chart.defaults.global.animation.duration = 3000;

    //Chart GVA

    var ctx = document.getElementById("GVA");
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            datasets: [{
                data: [{{100|sub:aff_percent}}, {{ aff_percent }}],
                backgroundColor: [
                    '#FFFFFF', // COLOR 1
                    '#2138B7' // COLOR 2
                ],
                borderColor: [
                    '#FFFFFF', // COLOR 1
                    '#2138B7' // COLOR 2
                ]
            }]
        },
        options: {
            cutoutPercentage: 60,
            aspectRatio: 1.1,
            legend: {
                display: false
            },
            layout: {
                padding: 10
            },
            responsive: true,
            maintainAspectRatio: true,
            plugins: {
                labels: false
            },
            elements: {
                center: {
                    text: '{{ aff_percent }}%',
                    color: '#2138B7', // Default is #000000
                    fontStyle: 'Poppins', // Default is Arial
                    sidePadding: 30, // Default is 20 (as a percentage)
                    minFontSize: 10, // Default is 20 (in px), set to false and text will not wrap.
                    lineHeight: 25 // Default is 25 (in px), used for when text wraps
                }
            }
        }
    });

    //Chart GDP

    var ctx = document.getElementById("GDP");
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            datasets: [{
                data: [{{100|sub:gdp_percent}}, {{ gdp_percent }}],
                backgroundColor: [
                    '#FFFFFF', // COLOR 1
                    '#2138B7' // COLOR 2
                ],
                borderColor: [
                    '#FFFFFF', // COLOR 1
                    '#2138B7' // COLOR 2
                ]
            }]
        },
        options: {
            cutoutPercentage: 60,
            aspectRatio: 1.1,
            legend: {
                display: false
            },
            layout: {
                padding: 10
            },
            responsive: true,
            maintainAspectRatio: true,
            plugins: {
                labels: false
            },
            elements: {
                center: {
                    text: '{{ gdp_percent }}%',
                    color: '#2138B7', // Default is #000000
                    fontStyle: 'Poppins', // Default is Arial
                    sidePadding: 30, // Default is 20 (as a percentage)
                    minFontSize: 10, // Default is 20 (in px), set to false and text will not wrap.
                    lineHeight: 25 // Default is 25 (in px), used for when text wraps
                }
            }
        }
    });

    // CHART 1

    var dbPalay = {{ rpData|safe }};
    var dbAgri ={{ asData|safe }};
    let years = [];
    let values_palay = [];
    let values_agri = [];

    try {
        dbPalay.map((item) => {
            years.push(item.year);
            values_palay.push(item.value);
        });
        dbAgri.map((item) => {
            values_agri.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var agriSector = document.getElementById('ctxAgriSector').getContext('2d');
    var tempAgriLabels = [...years];
    var agriSecData = [...values_agri];
    var riceSecData = [...values_palay];
    var agriSectorChart = new Chart(agriSector, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: tempAgriLabels,
            datasets: [{
                    label: 'Rice production',
                    backgroundColor: '#2138B7', // COLOR 1
                    borderColor: '#2138B7', // COLOR 1
                    lineTension: 0,
                    data: riceSecData
                },
                {
                    label: 'Agriculture sector',
                    backgroundColor: '#007FFE', // COLOR 2
                    borderColor: '#007FFE', // COLOR 2
                    lineTension: 0,
                    data: agriSecData
                },
            ]
        },

        // Configuration options go here
        options: {
            aspectRatio: 1.6,
            elements: {
                point: {
                    radius: 2
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                        beginAtZero:true,
                        userCallback: function(value, index, values) {
                            value = value.toString();
                            value = value.split(/(?=(?:...)*$)/);
                            value = value.join(',');
                            return value;
                          }
                    }
                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
            },
            tooltips:{
                callbacks:{
                  label: function (tooltipItem, data) {
                    var tooltipValue = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                    return data.datasets[tooltipItem.datasetIndex].label + ': ' + parseInt(tooltipValue).toLocaleString();
                  }
                }
            }
        }
    });

    // CHART 2

    var dbTotalSh ={{ tgdpsData|safe }};
    var dbAgriSh = {{ agdpsData|safe }};
    let shares_years = [];
    let shares_agri = [];
    let shares_total = [];

    try {
        dbAgriSh.map((item) => {
            shares_years.push(item.year);
            shares_agri.push(item.value);
        });
        dbTotalSh.map((item) => {
            shares_total.push(item.value);
        });
    } catch (error) {
        console.log(error);
    }

    var agriShare = document.getElementById('ctxAgriShare').getContext('2d');
    var tempShareLabels = [...shares_years];
    var agriShareData = [...shares_agri];
    var totalShareData = [...shares_total];
    var agriShareChart = new Chart(agriShare, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: tempShareLabels,
            datasets: [{
                label: 'Total GDP share',
                backgroundColor: '#2138B7', // COLOR 1
                borderColor: '#2138B7', // COLOR 1
                fill:false,
                lineTension: 0,
                data: totalShareData
            }, {
                label: 'Agriculture GDP share',
                backgroundColor: '#007FFE', // COLOR 2
                borderColor: '#007FFE', // COLOR 2
                fill:false,
                lineTension: 0,
                data: agriShareData
            }]
        },

        // Configuration options go here
        options: {
            aspectRatio: 1.6,
            elements: {
                point: {
                    radius: 2
                }
            },
            scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 100
                    }
                }]
            },
            legend: {
                position: 'top',
                onClick: (e) => e.stopPropagation(),
            }
        }
    });

</script>
{% endblock script %}
