{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Body -->
<div class="sublevel container">
    <!-- Header --->
    <div class="jumbotron">
        <div class="jumbotron-content text-center">
            <h2>State of the Rice Sector in the Philippines</h2>
            <h1>Yield and Production Cost</h1>
            <p class="lead">Comparison of provincial average yield and production hectare using the <br />Rice Based Farm Household Survey, 2016-2017</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-deck mb-2 text-center">
                <div class="card primary mb-4 bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title p-2">Average Yield ({{yph_year}})</h5>
                        <h1 class="card-text font-weight-bold">{{ yph_value }}{% if yph_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif yph_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h1>
                        <div class="card-note w-50 mx-auto rounded-pill bg-warning">
                            <p>metric ton per hectare</p>
                        </div>
                    </div>
                </div>
                <div class="card primary mb-4 bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title p-2">Unit Cost ({{uc_year}})</h5>
                        <h1 class="card-text font-weight-bold">P{{ uc_value }}{% if uc_compare > 0 %} <i class="bi bi-caret-up-fill"></i> {% elif uc_compare < 0 %} <i class="bi bi-caret-down-fill"></i>{% else %}<i class="bi bi-dash"></i>{%endif%}</h1>
                        <div class="card-note w-50 mx-auto rounded-pill bg-warning">
                            <p>per kilogram</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="my-0 p-2">Average fertilizer use by N-P-K component, high-yielding provinces, 2019</h5>
                    <p class="my-0 font-weight-normal text-muted">in kilograms/hectare (%) (PSA, 2020)</p>
                </div>
                <div class="card-body">
                    <div><canvas id="ctxNPKUse"></canvas></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="my-0 p-2">Percentage breakdown of costs of rice production, Philippines, 2009-2019</h5>
                    <p class="my-0 font-weight-normal text-muted">in Percentage (%) (PSA, 2020)</p>
                </div>
                <div class="card-body">
                    <div><canvas id="ctxBreakdownPh"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="my-0 p-2">Yield and unit cost of top rice-producing provinces, 2017</h5>
                    <p class="my-0 font-weight-normal text-muted">in PhP per kilogram (PhP/kg), metric tons (mt/ha) (RBFHS, PHILRICE-SED, 2019)</p>
                </div>
                <div class="card-body">
                    <div><canvas id="ctxYieldCost"></canvas></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer --->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">2021. RiceLytics Data Initative.</small>
                <small class="text-muted">Philippine Rice Research Institute.</small>
            </div>
            <div class="col-6 col-md">
                <h5>State of the Rice Sector</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Rice Production</a></li>
                    <li><a class="text-muted" href="#">Area Harvested</a></li>
                    <li><a class="text-muted" href="#">Yield per Hectare</a></li>
                    <li><a class="text-muted" href="#">Supply and Utilization</a></li>
                    <li><a class="text-muted" href="#">Gross Value Added</a></li>
                    <li><a class="text-muted" href="#">Farmer’s Income</a></li>
                    <li><a class="text-muted" href="#">Palay & Rice Prices</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Rice Farmer Characteristics</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Sociodemographics</a></li>
                    <li><a class="text-muted" href="#">Farm Details</a></li>
                    <li><a class="text-muted" href="#">Technology Awareness</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>RCEF Updates</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Inbred Seeds</a></li>
                    <li><a class="text-muted" href="#">Machineries</a></li>
                    <li><a class="text-muted" href="#">Extension</a></li>
                    <li><a class="text-muted" href="#">Credit</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript" src="{% static 'js/chartjs-plugin-labels.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chartjs-plugin-annotation.min.js' %}"></script>
<script>
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.tooltips.mode = 'index';
    Chart.defaults.global.tooltips.intersect = false;
    Chart.defaults.global.defaultFontFamily = 'Poppins';
    Chart.defaults.global.defaultFontSize = 13;
    Chart.defaults.global.animation.duration = 3000;

    // Chart 1

    var dbNPK = {{ npkData|safe }};
    let provinces = [];
    let nUse = [];
    let pUse = [];
    let kUse = [];

    try {
        dbNPK.map((item) => {
            provinces.push(item.location_name);
            nUse.push(item.n_value);
            pUse.push(item.p_value);
            kUse.push(item.k_value);
        });
    } catch (error) {
        console.log(error);
    }

    var npkLabels = [...provinces];
    var nUseData = [...nUse];
    var pUseData = [...pUse];
    var kUseData = [...kUse];

    var NPKUse = document.getElementById('ctxNPKUse').getContext('2d');

    var NPKUseChart = new Chart(NPKUse, {

        type: 'bar',

        data: {
            labels: npkLabels,
            datasets: [{
                    label: 'Nitrogen (N)',
                    backgroundColor: '#2037B4', // COLOR 1
                    borderColor: '#2037B4', // COLOR 1
                    data: nUseData
                },
                {
                    label: 'Phosphorus (P)',
                    backgroundColor: '#FF6800', // COLOR 2
                    borderColor: '#FF6800', // COLOR 2
                    data: pUseData
                },
                {
                    label: 'Potassium (K)',
                    backgroundColor: '#FFC900', // COLOR 2
                    borderColor: '#FFC900', // COLOR 2
                    data: kUseData
                }
            ]
        },

        options: {
            aspectRatio: 1.3,
            scales: {
                xAxes: [{
                    stacked: true,
                    display: true,
                    barPercentage: 0.7,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: true
                }]
            },
            legend: {
                position: 'bottom'
            },
            plugins: {
                labels: false
            }
        }
    });

    // Chart 1

    var dbCostItems ={{ pbcData|safe }};
    let yearsPH = [];
    let materialInputsPH = [];
    let hiredLaborPH = [];
    let OFELaborPH = [];
    let machinePH = [];
    let irrigationPH = [];
    let landRentPH = [];
    let interestCapitalPH = [];
    let otherInputsPH = [];

    try {
        dbCostItems.map((item) => {
            yearsPH.push(item.year);
            materialInputsPH.push(item.materialInputs);
            hiredLaborPH.push(item.hiredLabor);
            OFELaborPH.push(item.OFELabor);
            machinePH.push(item.machine);
            irrigationPH.push(item.irrigation);
            landRentPH.push(item.landRent);
            interestCapitalPH.push(item.interestCapital);
            otherInputsPH.push(item.otherInputs);
        });
    } catch (error) {
        console.log(error);
    }

    var costLabels = [...yearsPH];
    var materialInputsPHData = [...materialInputsPH];
    var hiredLaborPHData = [...hiredLaborPH];
    var OFELaborPHData = [...OFELaborPH];
    var machinePHData = [...machinePH];
    var irrigationPHData = [...irrigationPH];
    var landRentPHData = [...landRentPH];
    var interestCapitalPHData = [...interestCapitalPH];
    var otherInputsPHData = [...otherInputsPH];

    var BreakdownPh = document.getElementById('ctxBreakdownPh').getContext('2d');

    var ctxBreakdownPhChart = new Chart(BreakdownPh, {

        type: 'bar',

        data: {
            labels: costLabels,
            datasets: [{
                    label: 'Material Inputs (%)',
                    backgroundColor: '#2037B4', // COLOR 1
                    borderColor: '#2037B4', // COLOR 1
                    data: materialInputsPHData
                },
                {
                    label: 'Hired Labor (%)',
                    backgroundColor: '#FF6800', // COLOR 2
                    borderColor: '#FF6800', // COLOR 2
                    data: hiredLaborPHData
                },
                {
                    label: 'Operator, Family, and Exchange Labor (%)',
                    backgroundColor: '#939393', // COLOR 2
                    borderColor: '#939393', // COLOR 2
                    data: OFELaborPHData
                },
                {
                    label: 'Animal, Machine, Fuel and Oil (%)',
                    backgroundColor: '#FFC900', // COLOR 2
                    borderColor: '#FFC900', // COLOR 2
                    data: machinePHData
                },
                {
                    label: 'Irrigation (%)',
                    backgroundColor: '#205ECD', // COLOR 2
                    borderColor: '#205ECD', // COLOR 2
                    data: irrigationPHData
                },
                {
                    label: 'Machine and Land Rent (%)',
                    backgroundColor: '#60B328', // COLOR 2
                    borderColor: '#60B328', // COLOR 2
                    data: landRentPHData
                },
                {
                    label: 'Interest on Capital (%)',
                    backgroundColor: '#08549B', // COLOR 2
                    borderColor: '#08549B', // COLOR 2
                    data: interestCapitalPHData
                },
                {
                    label: 'Others (%)',
                    backgroundColor: '#AD3A00', // COLOR 3
                    borderColor: '#AD3A00', // COLOR 3
                    data: otherInputsPHData
                }
            ]
        },

        options: {
            aspectRatio: 1.3,
            scales: {
                xAxes: [{
                    stacked: true,
                    display: true,
                    barPercentage: 0.6,
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)"
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: true,
                    ticks: {
                        max: 100
                    }
                }]
            },
            legend: {
                position: 'bottom'
            },
            plugins: {
                labels: false
            }
        }
    });

    var yieldCost = document.getElementById('ctxYieldCost').getContext('2d');

    var tempCategLabels = ['Agusan del Norte', 'Agusan del Sur', 'Albay', 'Antique', 'Apayao', 'Aurora', 'Bohol', 'Bukidnon', 'Bulacan', 'Cagayan', 'Camarines Sur', 'Capiz', 'Davao de Oro (Compostela Valley)', 'Davao del Norte', 'Davao del Sur', 'Davao Oriental', 'Ilocos Norte', 'Iloilo', 'Isabela', 'Kalinga', 'Laguna', 'Leyte', 'Maguindanao', 'Negros Occidental', 'North Cotabato', 'Northern Samar', 'Nueva Ecija', 'Nueva Vizcaya', 'Occidental Mindoro', 'Oriental Mindoro', 'Palawan', 'Pampanga', 'Pangasinan', 'Quezon', 'Samar (Western Samar)', 'South Cotabato', 'Sultan Kudarat', 'Tarlac', 'Zamboanga del Norte', 'Zamboanga del Sur', 'Zamboanga Sibugay'];

    var yieldCostData = {{ yuData|safe }};

    var yieldCostScat = new Chart(yieldCost, {
        // The type of chart we want to create
        type: 'scatter',

        // The data for our dataset
        data: {
            labels: tempCategLabels,
            datasets: [{
                data: yieldCostData,
                backgroundColor: '#2037B2',
                borderColor: '#2037B2',
                pointRadius: 3,
                pointHoverRadius: 3
            }]
        },
        // Configuration options go here
        options: {
            aspectRatio: 2,
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        var label = data.labels[tooltipItem.index];
                        return label + ': (Yield: ' + tooltipItem.xLabel + ' mt/ha, Cost/kg: PhP ' + tooltipItem.yLabel + ')';
                    }
                }
            },
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        min: 10
                    }
                }],
                xAxes: [{
                    ticks: {
                        min: 1,
                        max: 7
                    }
                }]
            },
            annotation: {
                annotations: [{
                    id: 'hline',
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-1',
                    value: 16,
                    borderColor: 'tomato',
                    borderWidth: 1,
                    fontName: 'Poppins',
                    label: {
                        content: 'PhP 16/kg',
                        position: 'right',
                        enabled: true
                    }
                }, {
                    id: 'vline',
                    type: 'line',
                    mode: 'vertical',
                    scaleID: 'x-axis-1',
                    value: 4,
                    borderColor: 'tomato',
                    borderWidth: 1,
                    fontName: 'Poppins',
                    label: {
                        content: '4 mt/ha',
                        position: 'bottom',
                        enabled: true
                    }
                }],
                drawTime: "afterDraw" // (default)
            }
        }
    });

</script>
{% endblock script %}
